.reservation-successfully-accep {
  position: absolute;
  top: 295px;
  left: 24px;
  font-family: var(--font-adamina);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 32px;
}
.congratulations-your-successfu {
  position: absolute;
  top: 339px;
  left: 24px;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 140%;
  color: var(--gray-2);
  display: inline-block;
  width: 352px;
}
.view-all-reservations {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.view-all-reservations-wrapper {
  position: absolute;
  top: 428px;
  left: 24px;
  border-radius: var(--br-7xs);
  background-color: var(--color-seagreen-100);
  width: 352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.accept-reservation-owner-child {
  position: absolute;
  top: 50px;
  left: 80px;
  border-radius: var(--br-3xs);
  background-color: var(--color-tan-200);
  width: 240px;
  height: 200px;
}
.image-11-icon {
  position: absolute;
  top: 63px;
  left: 58px;
  width: 284px;
  height: 209px;
  object-fit: cover;
}
.accept-reservation-owner {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 400px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-sansation);
}
