.user-square-2-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.manage-account6 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.user-square-2-container {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.hotel-2-icon1 {
  position: relative;
  width: 20px;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
}
.hotel-2-group {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.bookmark-heart-1-icon {
  position: relative;
  width: 25px;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
}
.bookmark-heart-1-parent {
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-10xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.frame-icon7 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.guest-dropdown,
.logout-1-container {
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.logout-1-container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.guest-dropdown {
  position: relative;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.15);
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--gray-2);
  font-family: var(--font-sansation);
}
