.search-child {
  position: absolute;
  top: 802px;
  left: 100px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 295px;
  height: 287px;
}
.search-item {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #544c37, #9e8d5f);
  width: 1440px;
  height: 200px;
}
.home28 {
  cursor: pointer;
}
.about46,
.home28 {
  position: relative;
  letter-spacing: 0.02em;
}
.home-parent26 {
  position: absolute;
  top: 30px;
  left: 596px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.search-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 1440px;
  height: 68px;
}
.search-child1 {
  position: absolute;
  top: 12px;
  left: 1296px;
  border-radius: 50%;
  background-color: var(--gray-4);
  width: 44px;
  height: 44px;
}
.notification-1-icon22 {
  position: absolute;
  top: 22px;
  left: 1250px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.about47,
.advertising18,
.company18,
.contact-us18,
.jobs18,
.newsroom18 {
  position: absolute;
  left: 415px;
  letter-spacing: 0.02em;
  display: inline-block;
}
.company18 {
  top: 2809px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 70px;
  height: 17px;
}
.about47,
.advertising18,
.contact-us18,
.jobs18,
.newsroom18 {
  top: 2843px;
  font-size: var(--font-size-2xs);
  width: 37px;
  height: 13px;
}
.advertising18,
.contact-us18,
.jobs18,
.newsroom18 {
  top: 2865px;
  width: 30px;
}
.advertising18,
.contact-us18,
.newsroom18 {
  top: 2886px;
  width: 66px;
  height: 14px;
}
.advertising18,
.contact-us18 {
  top: 2908px;
  width: 69px;
  height: 15px;
}
.contact-us18 {
  top: 2931px;
  width: 67px;
}
.australia23,
.cancel-your-bookings18,
.new-zealand23,
.privacy-policy18,
.support18,
.terms-of-use19 {
  position: absolute;
  top: 2843px;
  left: 657px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  display: inline-block;
  width: 53px;
  height: 13px;
}
.cancel-your-bookings18,
.new-zealand23,
.privacy-policy18,
.support18,
.terms-of-use19 {
  left: 899px;
  width: 84px;
}
.cancel-your-bookings18,
.new-zealand23,
.support18,
.terms-of-use19 {
  left: 1141px;
  width: 49px;
}
.cancel-your-bookings18,
.new-zealand23,
.terms-of-use19 {
  top: 2865px;
  left: 657px;
  width: 81px;
}
.cancel-your-bookings18,
.terms-of-use19 {
  left: 899px;
  width: 78px;
}
.cancel-your-bookings18 {
  left: 1141px;
  width: 132px;
}
.acessibility18,
.greece20,
.refund-policies18,
.reward-system-policy18,
.united-states-america18,
.use-coupon18 {
  position: absolute;
  top: 2886px;
  left: 657px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  display: inline-block;
  width: 177px;
  height: 14px;
}
.acessibility18,
.greece20,
.refund-policies18,
.reward-system-policy18,
.use-coupon18 {
  left: 899px;
  width: 70px;
}
.greece20,
.refund-policies18,
.reward-system-policy18,
.use-coupon18 {
  left: 1141px;
  width: 76px;
}
.greece20,
.refund-policies18,
.reward-system-policy18 {
  top: 2908px;
  left: 657px;
  width: 44px;
  height: 15px;
}
.refund-policies18,
.reward-system-policy18 {
  left: 899px;
  width: 133px;
}
.refund-policies18 {
  left: 1141px;
  width: 94px;
}
.explore18,
.help18,
.international-travel-documents18,
.maldives18,
.see-more18,
.singapore18,
.terms-and-policies18 {
  position: absolute;
  top: 2931px;
  left: 657px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  display: inline-block;
  width: 55px;
  height: 15px;
}
.explore18,
.help18,
.international-travel-documents18,
.see-more18,
.singapore18,
.terms-and-policies18 {
  left: 1141px;
  width: 189px;
}
.explore18,
.help18,
.see-more18,
.singapore18,
.terms-and-policies18 {
  top: 2952px;
  left: 657px;
  width: 62px;
  height: 14px;
}
.explore18,
.help18,
.see-more18,
.terms-and-policies18 {
  top: 2975px;
  font-size: var(--body-small-bold-size);
  color: var(--blue-1);
  width: 58px;
  height: 13px;
}
.explore18,
.help18,
.terms-and-policies18 {
  top: 2809px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 54px;
  height: 17px;
}
.help18,
.terms-and-policies18 {
  left: 899px;
  width: 133px;
}
.help18 {
  left: 1141px;
  width: 34px;
}
.search-child2 {
  position: absolute;
  top: 3019px;
  left: 0;
  background-color: var(--color-whitesmoke-400);
  width: 1440px;
  height: 41px;
}
.copyright-1-icon28 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.bookedup-202329 {
  position: relative;
  line-height: 140%;
}
.copyright-1-parent26 {
  position: absolute;
  top: 3031px;
  left: 553px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.logo-with-slogan-15 {
  position: absolute;
  top: 2796px;
  left: 22px;
  width: 352px;
  height: 172px;
  object-fit: cover;
}
.search-child10,
.search-child3,
.search-child4,
.search-child5,
.search-child6,
.search-child7,
.search-child8,
.search-child9 {
  position: absolute;
  top: 426px;
  left: 425px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 915px;
  height: 240px;
}
.search-child10,
.search-child4,
.search-child5,
.search-child6,
.search-child7,
.search-child8,
.search-child9 {
  top: 690px;
}
.search-child10,
.search-child5,
.search-child6,
.search-child7,
.search-child8,
.search-child9 {
  top: 954px;
}
.search-child10,
.search-child6,
.search-child7,
.search-child8,
.search-child9 {
  top: 1482px;
}
.search-child10,
.search-child7,
.search-child8,
.search-child9 {
  top: 2010px;
}
.search-child10,
.search-child8,
.search-child9 {
  top: 1746px;
}
.search-child10,
.search-child9 {
  top: 1218px;
}
.search-child10 {
  top: 2274px;
}
.search-child11,
.search-child12 {
  position: absolute;
  left: 100px;
  border-radius: var(--br-7xs);
  width: 295px;
}
.search-child11 {
  top: 484px;
  background-color: var(--color-white);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  height: 293px;
}
.search-child12 {
  top: 304px;
  background-color: var(--gray-6);
  height: 119px;
}
.search-child13 {
  position: absolute;
  top: 446px;
  left: 445px;
  border-radius: var(--br-8xs);
  width: 285px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.search-child14,
.search-child15,
.search-child16,
.search-child17,
.search-child18,
.search-child19,
.search-child20 {
  position: absolute;
  top: 1502px;
  left: 445px;
  border-radius: var(--br-8xs);
  width: 285px;
  height: 200px;
  object-fit: cover;
}
.search-child15,
.search-child16,
.search-child17,
.search-child18,
.search-child19,
.search-child20 {
  top: 710px;
}
.search-child16,
.search-child17,
.search-child18,
.search-child19,
.search-child20 {
  top: 1766px;
}
.search-child17,
.search-child18,
.search-child19,
.search-child20 {
  top: 974px;
}
.search-child18,
.search-child19,
.search-child20 {
  top: 2030px;
}
.search-child19,
.search-child20 {
  top: 1238px;
}
.search-child20 {
  top: 2294px;
}
.search-child21,
.search-child22 {
  position: absolute;
  top: 557px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.search-child22 {
  top: 876px;
}
.div231,
.free-cancellation2 {
  left: 146px;
  color: var(--gray-1);
  width: 223px;
}
.div231 {
  position: absolute;
  top: 557px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  height: 20px;
}
.free-cancellation2 {
  top: 876px;
}
.div232,
.div233,
.free-cancellation2,
.set-your-own2 {
  position: absolute;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  height: 20px;
}
.set-your-own2 {
  top: 733px;
  left: 118px;
  width: 126px;
}
.div232,
.div233 {
  top: 557px;
  right: 1065px;
  color: var(--gray-1);
  text-align: right;
  width: 35px;
}
.div233 {
  top: 876px;
}
.search-child23,
.search-child24 {
  position: absolute;
  top: 591px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.search-child24 {
  top: 910px;
}
.div234 {
  top: 591px;
  left: 146px;
  width: 223px;
}
.div234,
.div235,
.div236,
.spa2 {
  position: absolute;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  display: flex;
  align-items: center;
  height: 20px;
}
.spa2 {
  top: 910px;
  left: 146px;
  width: 223px;
}
.div235,
.div236 {
  top: 591px;
  right: 1065px;
  text-align: right;
  width: 35px;
}
.div236 {
  top: 910px;
}
.search-child25 {
  top: 625px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
}
.div237,
.search-child25,
.search-child26 {
  position: absolute;
  height: 20px;
}
.search-child26 {
  top: 944px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
}
.div237 {
  top: 625px;
  left: 146px;
  width: 223px;
}
.beach-front2,
.div237,
.div238 {
  letter-spacing: 0.02em;
  color: var(--gray-1);
  display: flex;
  align-items: center;
}
.beach-front2 {
  position: absolute;
  top: 944px;
  left: 146px;
  width: 223px;
  height: 20px;
}
.div238 {
  top: 625px;
  right: 1065px;
  text-align: right;
  width: 35px;
}
.div238,
.div239,
.div240 {
  position: absolute;
  height: 20px;
}
.div239 {
  top: 944px;
  right: 1065px;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  text-align: right;
  display: flex;
  align-items: center;
  width: 35px;
}
.div240 {
  top: 659px;
  left: 146px;
  width: 223px;
}
.div240,
.div241,
.div242,
.hot-tub-jacuzzi2 {
  letter-spacing: 0.02em;
  color: var(--gray-1);
  display: flex;
  align-items: center;
}
.hot-tub-jacuzzi2 {
  position: absolute;
  top: 978px;
  left: 146px;
  width: 223px;
  height: 20px;
}
.div241,
.div242 {
  right: 1065px;
  text-align: right;
  width: 35px;
}
.div241 {
  position: absolute;
  top: 659px;
  height: 20px;
}
.div242 {
  top: 978px;
}
.div242,
.div243,
.search-child27 {
  position: absolute;
  height: 20px;
}
.div243 {
  top: 1046px;
  right: 1065px;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  text-align: right;
  display: flex;
  align-items: center;
  width: 35px;
}
.search-child27 {
  top: 659px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
}
.search-child28 {
  position: absolute;
  top: 978px;
  height: 20px;
}
.search-child28,
.search-child29,
.search-child30 {
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
}
.search-child29 {
  position: absolute;
  top: 693px;
  height: 20px;
}
.search-child30 {
  top: 1012px;
}
.and-more2,
.search-child30,
.search-child31 {
  position: absolute;
  height: 20px;
}
.search-child31 {
  top: 1046px;
  left: 118px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 20px;
}
.and-more2 {
  top: 693px;
  left: 146px;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  display: flex;
  align-items: center;
  width: 223px;
}
.book-without-credit2 {
  top: 1012px;
  left: 146px;
  width: 223px;
}
.book-without-credit2,
.div244,
.div245,
.no-prepayment2 {
  position: absolute;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  display: flex;
  align-items: center;
  height: 20px;
}
.no-prepayment2 {
  top: 1046px;
  left: 146px;
  width: 223px;
}
.div244,
.div245 {
  top: 693px;
  right: 1065px;
  text-align: right;
  width: 35px;
}
.div245 {
  top: 1012px;
}
.filter-by2,
.melbourne-17582 {
  position: absolute;
  font-family: var(--font-adamina);
}
.melbourne-17582 {
  top: 302px;
  left: 425px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
  display: inline-block;
  width: 504px;
  height: 32px;
}
.filter-by2 {
  top: 443px;
  left: 118px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  color: var(--gray-1);
}
.your-budget-per2 {
  position: relative;
  letter-spacing: 0.01em;
}
.your-budget-per-night-frame {
  top: 484px;
  left: 100px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: var(--gray-6);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 295px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg);
}
.popular-filters-frame,
.search-by-property2,
.your-budget-per-night-frame {
  position: absolute;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.popular-filters-frame {
  top: 803px;
  left: 100px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: var(--gray-6);
  border: 1px solid var(--gray-5);
  box-sizing: border-box;
  width: 295px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg);
}
.search-by-property2 {
  top: 324px;
  left: 118px;
  letter-spacing: 0.01em;
}
.group-child95,
.group-child96 {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-7xl);
  background-color: var(--gray-4);
  width: 32px;
  height: 16px;
}
.group-child96 {
  top: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
}
.rectangle-parent21,
.search-child32 {
  position: absolute;
  top: 733px;
  left: 343px;
  width: 32px;
  height: 20px;
}
.search-child32 {
  top: 168px;
  left: 205px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 37px rgba(0, 0, 0, 0.15);
  width: 1030px;
  height: 64px;
}
.location-1-icon14 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.melbourne2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
  width: 142px;
  height: 21px;
  flex-shrink: 0;
}
.location-1-container,
.search-1-container {
  position: absolute;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  gap: var(--gap-3xs);
}
.location-1-container {
  top: 178px;
  left: 217px;
  background-color: var(--gray-6);
  width: 260px;
  color: var(--gray-1);
}
.search-1-container {
  top: 359px;
  left: 118px;
  background-color: var(--color-white);
  border: 1px solid var(--gray-5);
  width: 259px;
}
.feb-3-20227 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.calendar-1-parent5 {
  position: absolute;
  top: 178px;
  left: 489px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--gray-1);
}
.feb-7-20227 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
  width: 105px;
  height: 21px;
  flex-shrink: 0;
}
.calendar-2-parent5 {
  position: absolute;
  top: 178px;
  left: 671px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--gray-1);
}
.adult-1-room11 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
  width: 96px;
  height: 21px;
  flex-shrink: 0;
}
.shanghai-open-house4,
.user-square-1-parent5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.user-square-1-parent5 {
  top: 178px;
  left: 853px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 210px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--gray-1);
}
.shanghai-open-house4 {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  color: var(--color-gray-300);
  width: 380px;
  height: 32px;
}
.b64,
.b65 {
  position: relative;
  letter-spacing: 0.01em;
}
.b64 {
  text-decoration: line-through;
}
.b65 {
  font-size: var(--font-size-xl);
  color: var(--gray-1);
}
.parent18 {
  position: absolute;
  top: 145px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: right;
}
.includes-taxes-and25,
.room-2-days19 {
  position: absolute;
  top: 175px;
  right: 0;
  letter-spacing: 0.02em;
  color: var(--gray-1);
  text-align: right;
}
.room-2-days19 {
  top: 122px;
}
.live-a-little18 {
  top: 76px;
  left: 0;
  font-size: var(--font-size-smi);
  display: flex;
  align-items: center;
  width: 380px;
}
.live-a-little18,
.reats-include-a18,
.reviews44 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 140%;
  color: var(--gray-2);
}
.reats-include-a18 {
  top: 98px;
  left: 0;
  font-size: var(--font-size-smi);
  display: flex;
  align-items: center;
  width: 380px;
}
.reviews44 {
  top: 39px;
  left: 94px;
}
.see-availability18 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.see-availability-wrapper16 {
  position: absolute;
  top: 152px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  font-size: var(--font-size-mini);
}
.off18 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 18px;
}
.off-wrapper16 {
  position: absolute;
  top: 90px;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-smi);
}
.group-child97 {
  position: absolute;
  top: 39px;
  left: 0;
  width: 82px;
  height: 20px;
}
.shanghai-open-house-parent2 {
  position: absolute;
  top: 1506px;
  left: 754px;
  width: 562px;
  height: 192px;
  color: var(--color-white);
}
.search-wrapper3 {
  position: absolute;
  top: 178px;
  left: 1075px;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  width: 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.ocean-waves-resort-container {
  position: absolute;
  top: 1770px;
  left: 754px;
  width: 562px;
  height: 192px;
  color: var(--color-white);
}
.lakeside-motel-warefront27 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  font-family: var(--font-adamina);
  color: var(--color-gray-300);
  width: 380px;
  height: 32px;
}
.lakeside-motel-warefront27,
.live-a-little20,
.parent20 {
  display: flex;
  align-items: center;
}
.parent20 {
  position: absolute;
  top: 145px;
  right: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--red);
}
.live-a-little20 {
  top: 76px;
  left: 0;
  font-size: var(--font-size-smi);
  width: 380px;
}
.live-a-little20,
.reats-include-a20,
.reviews46 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.reats-include-a20 {
  top: 98px;
  left: 0;
  font-size: var(--font-size-smi);
  display: flex;
  align-items: center;
  width: 380px;
}
.reviews46 {
  top: 39px;
  left: 94px;
}
.off-wrapper18,
.see-availability-wrapper18 {
  position: absolute;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.see-availability-wrapper18 {
  top: 152px;
  left: 0;
  background-color: var(--blue-1);
  padding: var(--padding-3xs) var(--padding-lg);
  cursor: pointer;
  font-size: var(--font-size-mini);
}
.off-wrapper18 {
  top: 90px;
  right: 0;
  background-color: var(--color-seagreen-100);
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-smi);
}
.lakeside-motel-warefront-parent4 {
  position: absolute;
  top: 450px;
  left: 754px;
  width: 562px;
  height: 192px;
}
.book-now-and-receive-15-off-frame {
  position: absolute;
  top: 450px;
  right: 124px;
  border-radius: var(--br-7xs);
  background-color: var(--color-firebrick);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.julia-dens-resort-container {
  position: absolute;
  top: 714px;
  left: 754px;
  width: 562px;
  height: 192px;
  color: var(--color-white);
}
.off-wrapper20,
.receive-30-discount-on-a-rest-wrapper2 {
  position: absolute;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-smi);
}
.off-wrapper20 {
  top: 90px;
  left: 502px;
  background-color: var(--color-white);
}
.receive-30-discount-on-a-rest-wrapper2 {
  top: 0;
  right: 0;
  background-color: var(--orange);
}
.aghnim-scepter-hotel-container {
  position: absolute;
  top: 978px;
  left: 754px;
  width: 562px;
  height: 192px;
  color: var(--color-white);
}
.receive-30-discount-on-a-rest-wrapper3,
.see-availability-wrapper21 {
  position: absolute;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.see-availability-wrapper21 {
  top: 152px;
  left: 0;
  background-color: var(--blue-1);
  padding: var(--padding-3xs) var(--padding-lg);
  font-size: var(--font-size-mini);
}
.receive-30-discount-on-a-rest-wrapper3 {
  top: 0;
  right: 0;
  background-color: var(--orange);
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-smi);
}
.maimi-city-frontier-parent1,
.marineford-hotel-container {
  position: absolute;
  top: 2034px;
  left: 754px;
  width: 562px;
  height: 192px;
}
.marineford-hotel-container {
  top: 1242px;
  color: var(--color-white);
}
.lakeside-motel-warefront-parent5 {
  position: absolute;
  top: 2298px;
  left: 754px;
  width: 562px;
  height: 192px;
}
.all-frame,
.hotels-frame,
.load-more-results-wrapper8 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.load-more-results-wrapper8 {
  position: absolute;
  top: 2554px;
  left: 804px;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-300);
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-mini);
  color: var(--blue-1);
}
.all-frame,
.hotels-frame {
  border: 1px solid var(--blue-1);
}
.all-frame {
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--color-dodgerblue-200);
  display: flex;
  flex-direction: row;
  color: var(--blue-1);
}
.hotels-frame {
  background-color: var(--color-white);
}
.frame-parent38,
.hotels-frame,
.villas-frame {
  display: flex;
  flex-direction: row;
}
.villas-frame {
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--color-white);
  border: 1px solid var(--blue-1);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.frame-parent38 {
  position: absolute;
  top: 358px;
  left: 425px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.recommended2,
.sort-by2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 12px;
}
.recommended2 {
  font-size: var(--font-size-sm);
  line-height: 18px;
  color: var(--gray-1);
}
.frame-parent39,
.sort-by-container {
  display: flex;
  justify-content: flex-start;
}
.sort-by-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent39 {
  position: absolute;
  top: 354px;
  left: 1150px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--gray-4);
  box-sizing: border-box;
  width: 190px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
  font-size: var(--body-small-bold-size);
  color: var(--gray-3);
}
.search-child33 {
  position: absolute;
  top: 12px;
  left: 1296px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.cream-black-minimalist-illustr26 {
  position: absolute;
  top: 10px;
  left: 86px;
  width: 174px;
  height: 129px;
  object-fit: cover;
}
.search5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3060px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--gray-2);
  font-family: var(--font-sansation);
}
.bookedup-payment,
.hours-ago3 {
  position: absolute;
  top: 37px;
  left: 54px;
  line-height: 24px;
}
.bookedup-payment {
  top: 15px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-300);
}
.avatar-icon4,
.unread3 {
  position: absolute;
  border-radius: 50%;
}
.avatar-icon4 {
  top: 19px;
  left: 22px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.unread3 {
  top: 28px;
  left: 9px;
  background-color: var(--color-dodgerblue-100);
  width: 8px;
  height: 8px;
}
.notification3 {
  position: absolute;
  top: 424px;
  left: 0;
  width: 500px;
  height: 77px;
  color: var(--color-darkgray-200);
}
.loren-smith1 {
  position: absolute;
  top: 90px;
  left: 78px;
  line-height: 24px;
}
.avatar-icon5 {
  position: absolute;
  top: 93px;
  left: 54px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.assigned-to1 {
  top: 0;
  left: 20px;
  line-height: 24px;
}
.assigned-to1,
.icon3,
.label1 {
  position: absolute;
}
.icon3 {
  top: 6px;
  left: 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.label1 {
  top: 66px;
  left: 54px;
  width: 88px;
  height: 24px;
  color: var(--color-darkgray-100);
}
.bookedup-check,
.hours-ago4 {
  position: absolute;
  left: 54px;
  line-height: 24px;
}
.hours-ago4 {
  top: 36px;
  color: var(--color-darkgray-200);
}
.bookedup-check {
  top: 15px;
  font-size: var(--font-size-sm);
}
.notification4 {
  position: absolute;
  top: 299px;
  left: 0;
  border-bottom: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 500px;
  height: 125px;
  color: var(--color-darkslategray-300);
}
.reply1 {
  position: relative;
  line-height: 16px;
}
.button3 {
  position: absolute;
  top: 156px;
  left: 432px;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-whitesmoke-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) var(--padding-5xs) var(--padding-7xs-5);
  font-size: var(--font-size-smi-5);
}
.dear-loren {
  margin: 0;
}
.dear-loren-were-container {
  position: absolute;
  top: 62px;
  left: 54px;
  line-height: 20px;
  display: inline-block;
  width: 430px;
}
.hours-ago5,
.john-moris-sent {
  position: absolute;
  left: 54px;
  line-height: 24px;
}
.hours-ago5 {
  top: 36px;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray-100);
}
.john-moris-sent {
  top: 11px;
  color: var(--color-darkslategray-300);
}
.avatar-icon7 {
  position: absolute;
  top: 15px;
  left: 22px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.notification5 {
  position: absolute;
  top: 95px;
  left: 0;
  border-bottom: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 500px;
  height: 204px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.button4,
.button5 {
  position: absolute;
  top: 52px;
  left: 16px;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) var(--padding-50xl-5);
  font-size: var(--font-size-smi-5);
}
.button5 {
  left: 254px;
  padding: var(--padding-8xs-5) var(--padding-59xl-5);
  text-align: center;
}
.divider1 {
  position: absolute;
  top: 39px;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 500px;
  height: 1px;
}
.icon4,
.icon5 {
  position: absolute;
  top: 13px;
  left: 443px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.icon5 {
  top: 12px;
  left: 472px;
  width: 16px;
  height: 16px;
}
.active-indicator1 {
  position: absolute;
  top: 26px;
  left: 0;
  background-color: var(--color-darkslategray-300);
  width: 58px;
  height: 2px;
}
.div152 {
  top: 2.5px;
  left: 4.8px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.6px;
  height: 12px;
}
.all3,
.div152,
.unread5 {
  position: absolute;
}
.unread5 {
  top: calc(50% - 14px);
  left: calc(50% + 13px);
  border-radius: var(--br-10xs);
  background-color: var(--color-indianred-100);
  width: 16px;
  height: 16px;
}
.all3 {
  top: 0;
  left: 17px;
  font-size: var(--font-size-sm);
  line-height: 16px;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 24px;
  height: 17px;
}
.header1,
.inbox1 {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 58px;
  height: 28px;
}
.header1 {
  top: 0;
  left: 0;
  width: 500px;
  height: 40px;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.notification-guest {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px rgba(15, 15, 15, 0.05), 0 3px 6px rgba(15, 15, 15, 0.1),
    0 9px 24px rgba(15, 15, 15, 0.2);
  width: 500px;
  height: 501px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
  font-family: var(--font-adamina);
}
.user-square-2-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.manage-account6 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.user-square-2-container {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.hotel-2-icon1 {
  position: relative;
  width: 20px;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
}
.hotel-2-group {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.bookmark-heart-1-icon {
  position: relative;
  width: 25px;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
}
.bookmark-heart-1-parent {
  background-color: var(--color-white);
  box-shadow: 0 0.5px 0#d5d5d5;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-10xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.frame-icon7 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.guest-dropdown,
.logout-1-container {
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
}
.logout-1-container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-sm);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.guest-dropdown {
  position: relative;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.15);
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--gray-2);
  font-family: var(--font-sansation);
}
