<!DOCTYPE html>
<html>
    <body>
        <div class="unlogged-person">
          <div class="unlogged-person-child"></div>
          <div class="the-perfect-stay3">The Perfect Stay, One Click Away</div>
          <div class="find-your-perfect3">
            Find your perfect stay with expert hotel and apartment recommendations,
            travel tips, and destination inspiration.
          </div>
          <img
            class="unlogged-person-item"
            alt=""
            src="../../assets/public/rectangle-781@2x.png"
          />

          <div class="unlogged-person-inner"></div>
          <div class="the-perfect-stay3">The Perfect Stay, One Click Away</div>
          <div class="find-your-perfect4">
            Find your perfect stay with expert hotel and apartment recommendations,
            travel tips, and destination inspiration.
          </div>


          <div class="search-wrapper5" id="searchButton">
            <b class="search8">Search</b>
          </div>

          <div class="component-15">
            <img class="location-1-icon17" alt="" src="../../assets/public/location-13.svg" />
            <input type="text" class="where-are-you3" placeholder="Where are you going?" />
          </div>

          <div class="component-43">
            <input class="check-in-date6" type="date" id="fromDate" placeholder="Check in date">
          </div>

          <div class="component-23">
            <input class="check-in-date6" type="date" id="toDate" placeholder="Check out date">
          </div>

          <div class="component-33">
            <img class="location-1-icon17"alt=""src="../../assets/public/usersquare-12.svg" />
            <input type="number" class="guests3" placeholder="Guests" pattern="\d*" />

          </div>

          <div class="home-parent29">
            <div class="home31">Home</div>
            <div class="home31">About</div>
            <div class="home31">Contact</div>
          </div>
          <div class="register-frame" id="frameContainer2">
            <b class="search8">Register</b>
          </div>
          <div class="sign-in-frame" id="frameContainer3">
            <b class="search8">Sign In</b>
          </div>
          <img
            class="logo-1-icon3"
            alt=""
            src="../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png"
          />

          <div class="explore-the-world-with-bookedu-parent1">
            <div class="explore-the-world3">Explore the world with BookedUp</div>
            <div class="discover-new-places3">
              Discover new places and experiences
            </div>
          </div>
          <div class="popular-destinations3">Popular destinations</div>
          <div class="popular-hotels3">Popular hotels</div>
          <img
            class="unlogged-person-child1"
            alt=""
            src="../../assets/public/rectangle-8@2x.png"
          />

          <div class="australia-wrapper1">
            <div class="australia25">Australia</div>
          </div>
          <img
            class="unlogged-person-child2"
            alt=""
            src="../../assets/public/rectangle-9@2x.png"
          />

          <div class="japan-wrapper1">
            <div class="australia25">Japan</div>
          </div>
          <img
            class="unlogged-person-child3"
            alt=""
            src="../../assets/public/rectangle-10@2x.png"
          />

          <div class="new-zealand-wrapper1">
            <div class="new-zealand25">New Zealand</div>
          </div>
          <div class="dubai-wrapper1">
            <div class="new-zealand25">Dubai</div>
          </div>
          <div class="rectangle-parent23">
            <img class="group-child116" alt="" src="../../assets/public/rectangle-18@2x.png" />

            <div class="download-the-mobile-applicatio-parent1">
              <div class="download-the-mobile3">
                Download the mobile application for bonus coupons and travel codes
              </div>
              <div class="download-mobile-app-wrapper1">
                <b class="search8">Download mobile app</b>
              </div>
            </div>
            <div class="isolated-right-hand-with-smart-parent1">
              <img
                class="isolated-right-hand-with-smart-icon6"
                alt=""
                src="../../assets/public/isolated-right-hand-with-smartphone-1@2x.png"
              />

              <img
                class="isolated-right-hand-with-smart-icon7"
                alt=""
                src="../../assets/public/isolated-right-hand-with-smartphone-2@2x.png"
              />
            </div>
          </div>

          <img class="hotel1-1-icon3" alt="" src="../../assets/public/hotel1-1@2x.png" />

          <div class="card12">
            <img class="image-icon12" alt="" src="../../assets/public/image.svg" />

            <div class="information12">
              <div class="name-star12">
                <div class="the-aston-hotel3">The Aston hotel</div>
                <div class="star-parent10">
                  <div class="star12">
                    <img
                      class="location-1-icon17"
                      alt=""
                      src="../../assets/public/antdesignstarfilled.svg"
                    />
                  </div>
                  <b class="b97">5.0</b>
                </div>
              </div>
              <div class="alice-springs-nt12">Alice Springs NT 0870, Australia</div>
              <div class="night24">
                <span>$165,3</span>
                <span class="span16"> </span>
                <span class="night25">/night</span>
              </div>
            </div>
          </div>
          <div class="card13">
            <img class="image-icon12" alt="" src="../../assets/public/image1.svg" />

            <div class="information12">
              <div class="name-star12">
                <div class="recce-graham-resort3">Recce Graham resort</div>
                <div class="star-parent11">
                  <div class="star12">
                    <img
                      class="location-1-icon17"
                      alt=""
                      src="../../assets/public/antdesignstarfilled.svg"
                    />
                  </div>
                  <b class="b97">5.0</b>
                </div>
              </div>
              <div class="alice-springs-nt12">Alice Springs NT 0870, Australia</div>
              <div class="night26">
                <span>$287,9</span>
                <span class="span16"> </span>
                <span class="night25">/night</span>
              </div>
            </div>
          </div>
          <div class="card14">
            <img class="image-icon12" alt="" src="../../assets/public/image1.svg" />

            <div class="information12">
              <div class="name-star12">
                <div class="recce-graham-resort3">Fireside Dinners</div>
                <div class="star-parent11">
                  <div class="star12">
                    <img
                      class="location-1-icon17"
                      alt=""
                      src="../../assets/public/antdesignstarfilled.svg"
                    />
                  </div>
                  <b class="b97">5.0</b>
                </div>
              </div>
              <div class="alice-springs-nt12">Alice Springs NT 0870, Australia</div>
              <div class="night26">
                <span>$128,0</span>
                <span class="span16"> </span>
                <span class="night25">/night</span>
              </div>
            </div>
          </div>
          <div class="card15">
            <img class="image-icon12" alt="" src="../../assets/public/image1.svg" />

            <div class="information12">
              <div class="name-star12">
                <div class="recce-graham-resort3">Oculous Inn Stay</div>
                <div class="star-parent11">
                  <div class="star12">
                    <img
                      class="location-1-icon17"
                      alt=""
                      src="../../assets/public/antdesignstarfilled.svg"
                    />
                  </div>
                  <b class="b97">5.0</b>
                </div>
              </div>
              <div class="alice-springs-nt12">Alice Springs NT 0870, Australia</div>
              <div class="night26">
                <span>$92,5</span>
                <span class="span16"> </span>
                <span class="night25">/night</span>
              </div>
            </div>
          </div>
          <img
            class="chevron-right-regular-24-1-icon6"
            alt=""
            src="../../assets/public/chevronrightregular24-11@2x.png"
          />

          <img
            class="chevron-right-regular-24-2-icon3"
            alt=""
            src="../../assets/public/chevronrightregular24-1@2x.png"
          />

          <img
            class="chevron-left-regular-24-1-icon4"
            alt=""
            src="../../assets/public/chevronleftregular24-2@2x.png"
          />

          <img
            class="chevron-left-regular-24-2-icon3"
            alt=""
            src="../../assets/public/chevronleftregular24-2@2x.png"
          />

          <b class="company20">Company</b>
          <div class="about52">About</div>
          <div class="jobs20">Jobs</div>
          <div class="newsroom20">Newsroom</div>
          <div class="advertising20">Advertising</div>
          <div class="contact-us20">Contact us</div>
          <div class="australia26">Australia</div>
          <div class="privacy-policy20">Privacy Policy</div>
          <div class="new-zealand26">New Zealand</div>
          <div class="terms-of-use21">Terms of use</div>
          <div class="united-states-america20">United States America (USA)</div>
          <div class="acessibility20">Acessibility</div>
          <div class="greece22">Greece</div>
          <div class="reward-system-policy20">Reward system policy</div>
          <div class="maldives20">Maldives</div>
          <div class="singapore20">Singapore</div>
          <div class="see-more20">See more</div>
          <b class="explore20">Explore</b>
          <b class="terms-and-policies20">Terms and Policies</b>
          <div class="unlogged-person-child5"></div>
          <div class="copyright-1-parent29">
            <img class="copyright-1-icon31" alt="" src="../../assets/public/copyright-1.svg" />

            <div class="bookedup-202332">BookedUp 2023 | Team 19 FTN</div>
          </div>
          <img
            class="logo-with-slogan-213"
            alt=""
            src="../../assets/public/logo-with-slogan-2@2x.png"
          />

          <div class="support20">Support</div>
          <div class="cancel-your-bookings20">Cancel your bookings</div>
          <div class="use-coupon20">Use Coupon</div>
          <div class="refund-policies20">Refund Policies</div>
          <div class="international-travel-documents20">
            International Travel Documents
          </div>
          <b class="help20">Help</b>
        </div>
      </body>

</html>
