.unlogged-person-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 68px;
  }
  .find-your-perfect3,
  .the-perfect-stay3 {
    position: absolute;
    top: 270px;
    left: 415px;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 610px;
  }
  .find-your-perfect3 {
    top: 328px;
    left: 395px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-family: var(--font-adamina);
    width: 650px;
  }
  .unlogged-person-item {
    position: absolute;
    top: 77px;
    left: 100px;
    border-radius: var(--br-3xs);
    width: 1240px;
    height: 500px;
    object-fit: cover;
  }
  .unlogged-person-inner {
    position: absolute;
    top: 548px;
    left: 205px;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 4px 37px rgba(0, 0, 0, 0.15);
    width: 1030px;
    height: 64px;
  }
  .find-your-perfect4 {
    position: absolute;
    top: 328px;
    left: 395px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;
    line-height: 140%;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 650px;
  }
  .search8 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 20px;
  }
  .search-wrapper5 {
    position: absolute;
    top: 558px;
    left: 1075px;
    border-radius: var(--br-7xs);
    background-color: var(--blue-1);
    width: 148px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-lg);
    box-sizing: border-box;
    cursor: pointer;
    font-size: var(--font-size-mini);
    color: var(--color-white);
  }
  .location-1-icon17 {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .where-are-you3 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
  }
  .component-15 {
    position: absolute;
    top: 558px;
    left: 217px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 242px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .check-in-date6 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
    width: 105px;
    flex-shrink: 0;
  }
  .component-23,
  .component-43 {
    position: absolute;
    top: 558px;
    left: 477px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .component-23 {
    left: 665px;
  }
  .guests3 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
    width: 140px;
    flex-shrink: 0;
  }
  .component-33 {
    position: absolute;
    top: 558px;
    left: 856px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 207px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .home31 {
    position: relative;
    letter-spacing: 0.02em;
  }
  .home-parent29,
  .register-frame,
  .sign-in-frame {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .home-parent29 {
    top: 30px;
    left: 596px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    font-size: var(--font-size-base);
    color: var(--gray-1);
  }
  .register-frame,
  .sign-in-frame {
    top: 19px;
    border-radius: var(--br-7xs);
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-lg);
    cursor: pointer;
    font-size: var(--font-size-mini);
  }
  .register-frame {
    left: 1150px;
    background-color: var(--color-white);
    border: 1px solid var(--blue-1);
    color: var(--blue-1);
  }
  .sign-in-frame {
    left: 1258px;
    background-color: var(--blue-1);
    color: var(--color-white);
  }
  .logo-1-icon3 {
    position: absolute;
    top: 10px;
    left: 86px;
    width: 126px;
    height: 58px;
    object-fit: cover;
  }
  .discover-new-places3,
  .explore-the-world3 {
    position: absolute;
    left: 0;
    line-height: 140%;
    width: 820px;
  }
  .explore-the-world3 {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.1px;
  }
  .discover-new-places3 {
    top: 39.2px;
    font-size: var(--font-size-base);
    letter-spacing: 0.02em;
    color: var(--blue-1);
    display: inline-block;
    height: 18px;
  }
  .explore-the-world-with-bookedu-parent1 {
    position: absolute;
    top: 1865.9px;
    left: 310px;
    width: 820px;
    height: 57.2px;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-400);
  }
  .popular-destinations3,
  .popular-hotels3 {
    position: absolute;
    top: 695px;
    left: 101px;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-400);
    display: inline-block;
    width: 504px;
    height: 29px;
  }
  .popular-hotels3 {
    top: 1197px;
    height: 26px;
  }
  .unlogged-person-child1 {
    position: absolute;
    top: 743px;
    left: 100px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .australia25 {
    position: relative;
    display: inline-block;
    width: 295px;
  }
  .australia-wrapper1 {
    position: absolute;
    top: 1106px;
    left: 100px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .unlogged-person-child2 {
    position: absolute;
    top: 743px;
    left: 415px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .japan-wrapper1 {
    position: absolute;
    top: 1106px;
    left: 415px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .unlogged-person-child3 {
    position: absolute;
    top: 743px;
    left: 730px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .new-zealand25 {
    position: relative;
  }
  .dubai-wrapper1,
  .new-zealand-wrapper1 {
    position: absolute;
    top: 1106px;
    left: 730px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .dubai-wrapper1 {
    left: 1043px;
  }
  .group-child116 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    width: 1240px;
    height: 228.7px;
    object-fit: cover;
  }
  .download-the-mobile3 {
    position: relative;
    line-height: 140%;
    display: inline-block;
    width: 580px;
  }
  .download-mobile-app-wrapper1 {
    border-radius: var(--br-7xs);
    background-color: var(--blue-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-lg);
    font-size: var(--font-size-mini);
  }
  .download-the-mobile-applicatio-parent1 {
    position: absolute;
    top: 52.3px;
    left: 69px;
    height: 124.2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .isolated-right-hand-with-smart-icon6,
  .isolated-right-hand-with-smart-icon7 {
    position: absolute;
    top: 142.1px;
    left: 0;
    width: 789px;
    height: 228.7px;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .isolated-right-hand-with-smart-icon7 {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }
  .isolated-right-hand-with-smart-parent1 {
    position: absolute;
    top: -142.1px;
    left: 451px;
    width: 828.6px;
    height: 558.9px;
  }
  .rectangle-parent23 {
    position: absolute;
    top: 1585.9px;
    left: 100px;
    width: 1240px;
    height: 228.7px;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
  }
  .hotel1-1-icon3,
  .unlogged-person-child4 {
    position: absolute;
    top: 725px;
    left: 1043px;
    width: 298px;
    height: 345px;
  }
  .hotel1-1-icon3 {
    top: 743px;
    object-fit: cover;
    border-radius: var(--br-5xs);
  }
  .image-icon12 {
    position: relative;
    border-radius: var(--br-xs) var(--br-xs) 0 0;
    width: 295px;
    height: 209px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .the-aston-hotel3 {
    position: relative;
    line-height: 150%;
    z-index: 0;
  }
  .star12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b97 {
    position: relative;
    line-height: 150%;
  }
  .name-star12,
  .star-parent10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .star-parent10 {
    margin: 0 !important;
    position: absolute;
    top: 1px;
    left: 223px;
    width: 55px;
    gap: var(--gap-5xs);
    z-index: 1;
    font-size: var(--body-small-bold-size);
    font-family: var(--body-small-bold);
  }
  .name-star12 {
    width: 283px;
    position: relative;
    gap: var(--gap-61xl);
  }
  .alice-springs-nt12 {
    align-self: stretch;
    position: relative;
    font-size: var(--body-small-bold-size);
    line-height: 150%;
    color: var(--color-gray-100);
  }
  .span16 {
    color: var(--color-mediumslateblue);
  }
  .night25 {
    color: var(--color-gray-100);
  }
  .night24 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    color: var(--color-gray-400);
  }
  .card12,
  .information12 {
    width: 295px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information12 {
    border-radius: 0 0 var(--br-xs) var(--br-xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 16px rgba(17, 34, 17, 0.04);
    height: 88px;
    padding: var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .card12 {
    position: absolute;
    top: 1249px;
    left: 100px;
    height: 298px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-500);
    font-family: var(--font-adamina);
  }
  .recce-graham-resort3 {
    position: relative;
    z-index: 0;
  }
  .star-parent11 {
    margin: 0 !important;
    position: absolute;
    top: 1px;
    left: 223px;
    width: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    z-index: 1;
    font-size: var(--body-small-bold-size);
    color: var(--color-gray-500);
    font-family: var(--body-small-bold);
  }
  .night26 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
  }
  .card13,
  .card14,
  .card15 {
    position: absolute;
    top: 1249px;
    left: 415px;
    width: 295px;
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .card14,
  .card15 {
    top: 1247px;
    left: 730px;
  }
  .card15 {
    top: 1249px;
    left: 1045px;
  }
  .chevron-right-regular-24-1-icon6,
  .chevron-right-regular-24-2-icon3 {
    position: absolute;
    top: 915px;
    left: 1361px;
    width: 41px;
    height: 40px;
    object-fit: cover;
  }
  .chevron-right-regular-24-2-icon3 {
    top: 1312px;
    width: 40px;
    height: 39px;
  }
  .chevron-left-regular-24-1-icon4,
  .chevron-left-regular-24-2-icon3 {
    position: absolute;
    top: 919px;
    left: 32px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .chevron-left-regular-24-2-icon3 {
    top: 1311px;
  }
  .about52,
  .company20,
  .jobs20 {
    position: absolute;
    left: 415px;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .company20 {
    top: 1987px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    width: 70px;
    height: 17px;
  }
  .about52,
  .jobs20 {
    top: 2021px;
    width: 37px;
    height: 13px;
  }
  .jobs20 {
    top: 2043px;
    width: 30px;
  }
  .advertising20,
  .australia26,
  .contact-us20,
  .newsroom20,
  .privacy-policy20 {
    position: absolute;
    top: 2064px;
    left: 415px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66px;
    height: 14px;
  }
  .advertising20,
  .australia26,
  .contact-us20,
  .privacy-policy20 {
    top: 2086px;
    width: 69px;
    height: 15px;
  }
  .australia26,
  .contact-us20,
  .privacy-policy20 {
    top: 2109px;
    width: 67px;
  }
  .australia26,
  .privacy-policy20 {
    top: 2021px;
    left: 657px;
    width: 53px;
    height: 13px;
  }
  .privacy-policy20 {
    left: 899px;
    width: 84px;
  }
  .acessibility20,
  .greece22,
  .new-zealand26,
  .terms-of-use21,
  .united-states-america20 {
    position: absolute;
    top: 2043px;
    left: 657px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 81px;
    height: 13px;
  }
  .acessibility20,
  .greece22,
  .terms-of-use21,
  .united-states-america20 {
    left: 899px;
    width: 78px;
  }
  .acessibility20,
  .greece22,
  .united-states-america20 {
    top: 2064px;
    left: 657px;
    width: 177px;
    height: 14px;
  }
  .acessibility20,
  .greece22 {
    left: 899px;
    width: 70px;
  }
  .greece22 {
    top: 2086px;
    left: 657px;
    width: 44px;
    height: 15px;
  }
  .explore20,
  .maldives20,
  .reward-system-policy20,
  .see-more20,
  .singapore20,
  .terms-and-policies20 {
    position: absolute;
    top: 2086px;
    left: 899px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 133px;
    height: 15px;
  }
  .explore20,
  .maldives20,
  .see-more20,
  .singapore20,
  .terms-and-policies20 {
    top: 2109px;
    left: 657px;
    width: 55px;
  }
  .explore20,
  .see-more20,
  .singapore20,
  .terms-and-policies20 {
    top: 2130px;
    width: 62px;
    height: 14px;
  }
  .explore20,
  .see-more20,
  .terms-and-policies20 {
    top: 2153px;
    font-size: var(--body-small-bold-size);
    color: var(--blue-1);
    width: 58px;
    height: 13px;
  }
  .explore20,
  .terms-and-policies20 {
    top: 1987px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    width: 54px;
    height: 17px;
  }
  .terms-and-policies20 {
    left: 899px;
    width: 133px;
  }
  .unlogged-person-child5 {
    position: absolute;
    top: 2197px;
    left: 0;
    background-color: var(--color-whitesmoke-400);
    width: 1440px;
    height: 41px;
  }
  .copyright-1-icon31 {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .bookedup-202332 {
    position: relative;
    line-height: 140%;
  }
  .copyright-1-parent29 {
    position: absolute;
    top: 2209px;
    right: 667px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    font-size: var(--font-size-sm);
  }
  .logo-with-slogan-213 {
    position: absolute;
    top: 1974px;
    left: 22px;
    width: 352px;
    height: 172px;
    object-fit: cover;
  }
  .cancel-your-bookings20,
  .support20 {
    position: absolute;
    top: 2021px;
    left: 1141px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 49px;
    height: 13px;
  }
  .cancel-your-bookings20 {
    top: 2043px;
    width: 132px;
  }
  .help20,
  .international-travel-documents20,
  .refund-policies20,
  .use-coupon20 {
    position: absolute;
    top: 2064px;
    left: 1141px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 76px;
    height: 14px;
  }
  .help20,
  .international-travel-documents20,
  .refund-policies20 {
    top: 2086px;
    width: 94px;
    height: 15px;
  }
  .help20,
  .international-travel-documents20 {
    top: 2109px;
    width: 189px;
  }
  .help20 {
    top: 1987px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    width: 34px;
    height: 17px;
  }
  .unlogged-person {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2238px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-2xs);
    color: var(--gray-2);
    font-family: var(--font-sansation);
  }

.input-wrapper {
  display: inline-block;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-adamina);
  font-size: var(--font-size-mini);
}


