<!DOCTYPE html>
<html>
<body>
<div class="logged">

  <app-header></app-header>

  <div id="search-box" class="search-box">
    <img class="search-image" alt="" src="../../assets/public/rectangle-78@2x.png"/>

    <div class="search-title">The Perfect Stay, One Click Away</div>
    <div class="search-description">
      Find your perfect stay with expert hotel and apartment recommendations, <br>
      travel tips, and destination inspiration.
    </div>

    <div class="search-container">
      <div class="input-container-location">
        <img class="icon" alt="" src="../../assets/public/location-13.svg" />
        <input id="locationTxt" class="text" type="text" placeholder="Where are you going?"/>
      </div>
      <div class="input-container">
        <img class="icon" alt="" src="../../assets/public/calendar-1.svg" />
        <input placeholder="Check In Date" class="text" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="fromDate" />
      </div>
      <div class="input-container">
        <img class="icon" alt="" src="../../assets/public/calendar-1.svg" />
        <input placeholder="Check Out Date" class="text" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="toDate" />
      </div>
      <div class="input-container-guest">
        <img class="icon" alt="" src="../../assets/public/usersquare-12.svg" />
        <input id="guestNumberTxt" type="number" class="text" placeholder="Guests" pattern="\d*" />
      </div>
      <div class="search-button" id="searchButton">
        <b >Search</b>
      </div>
    </div>

<!--  <div id="popular-destinations-main">-->
<!--    <div class="popular-destinations">Popular destinations</div>-->
<!--    <div class="destination-card" *ngFor="let destination of popularAccommodations | async">-->
<!--      <img-->
<!--        class="logged-admin-main-child2"-->
<!--        alt=""-->
<!--        [src]="destination.photos[0].url"-->
<!--      />-->
<!--      <div class="australia-wrapper">-->
<!--        <div class="japan">{{ destination.address.country }}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- 
  <div id="popular-hotels-main">
    <div class="popular-hotels">Popular hotels</div>

    <div class="card1" *ngFor="let accommodation of popularAccommodations | async" (click)="navigateToDetails(accommodation.id)">
      <img class="image-icon" alt="" [src]="accommodation.photos[0].url" />

      <div class="information">
        <div class="name-star">
          <div class="recce-graham-resort">{{ accommodation.name }}</div>
          <div class="star-group">
            <div class="star">
              <img
                      class="ant-designstar-filled-icon"
                      alt=""
                      src="../../assets/public/antdesignstarfilled.svg"
              />
            </div>
            <b class="b17">{{ roundHalf(accommodation.averageRating/2) }}</b>
          </div>
        </div>
        <div class="alice-springs-nt">{{ accommodation.address.city }}, {{accommodation.address.country}}</div>
        <div class="night2">
          <span>${{ accommodation.price }}</span>
          <span class="span"> </span>
          <span class="night1">/{{ accommodation.priceType }}</span>
        </div>
      </div>
    </div>
  </div> -->

<!--  <div id="download-app-main">-->
<!--    <div class="rectangle-parent3">-->
<!--      <img class="group-child28" alt="" src="../../assets/public/rectangle-18@2x.png" />-->

<!--      <div class="download-the-mobile-applicatio-parent">-->
<!--        <div class="download-the-mobile">-->
<!--          Download the mobile application for bonus coupons and travel codes-->
<!--        </div>-->
<!--        <div class="download-mobile-app-wrapper">-->
<!--          <b class="download-mobile-app">Download mobile app</b>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="isolated-right-hand-with-smart-parent">-->
<!--        <img-->
<!--                class="isolated-right-hand-with-smart-icon"-->
<!--                alt=""-->
<!--                src="../../assets/public/isolated-right-hand-with-smartphone-1@2x.png"-->
<!--        />-->

<!--        <img-->
<!--                class="isolated-right-hand-with-smart-icon1"-->
<!--                alt=""-->
<!--                src="../../assets/public/isolated-right-hand-with-smartphone-2@2x.png"-->
<!--        />-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="explore-the-world-with-bookedu-parent">-->
<!--      <div class="explore-the-world">Explore the world with BookedUp</div>-->
<!--      <div class="discover-new-places">-->
<!--        Discover new places and experiences-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  </div>
  <app-footer></app-footer>
</div>
</body>
</html>
