.logged {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  min-height: 100vh;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--gray-2);
  font-family: var(--font-sansation); 
  display: flex;
  flex-direction: column;
}
.search-box {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.search-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--br-3xs);
}
.search-title,
.search-description {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.02em;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  display: inline-block;
}
.search-description{
  top: 60%;
  font-size: var(--font-size-xl);
  line-height: 140%;
}
.search-container {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 0;
  width: 90%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
}
.input-container,
.input-container-location,
.input-container-guest {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  border-radius: var(--br-9xs);
  background-color: var(--gray-6);
  width: 20%;
  height: 45px;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
  margin-left: 2%;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
}
.input-container-location{
  width: 28%;
}
.input-container-guest {
  width: 20%;
}
.icon {
  position: relative;
  width: 10%;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  width: 90%;
  position: relative;
  letter-spacing: 0.02em;
}
.input-wrapper {
  display: inline-block;
}
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border: none;
  background: none;
  font-family: var(--font-adamina);
  font-size: var(--font-size-mini);
}

.search-button{
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--blue-1);
  width: 10%;
  display: flex;
  height: 45px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-white);
}