<!DOCTYPE html>
<html>
  <body>
    <div class="logged-admin-main">

      <ng-container *ngIf="userRole === 'admin'">
        <app-header-admin></app-header-admin>
      </ng-container>
      
      <ng-container *ngIf="userRole === 'host'">
        <app-header-host></app-header-host>
      </ng-container>
      
      <ng-container *ngIf="userRole === 'guest'">
        <app-header-guest></app-header-guest>
      </ng-container>

      <div id="search-main">

        <img
          class="logged-admin-main-child"
          alt=""
          src="../../assets/public/rectangle-78@2x.png"
        />
        <div class="the-perfect-stay">The Perfect Stay, One Click Away</div>
        <div class="find-your-perfect">
          Find your perfect stay with expert hotel and apartment recommendations,
          travel tips, and destination inspiration.
        </div>

        <div class="logged-admin-main-item"></div>

        <div class="search-container" id="frameContainer5">
          <b class="download-mobile-app">Search</b>
        </div>

        <div class="component-1">
          <img
            class="ant-designstar-filled-icon"
            alt=""
            src="../../assets/public/location-13.svg"
          />
          <input type="text" class="where-are-you" placeholder="Where are you going?"/>
        </div>

        <div class="component-4">
          <img
            class="ant-designstar-filled-icon"
            alt=""
            src="../../assets/public/calendar-1.svg"
          />
          <input placeholder="Check In Date" class="check-in-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="fromDate" />
        </div>

        <div class="component-2">
          <img
            class="ant-designstar-filled-icon"
            alt=""
            src="../../assets/public/calendar-1.svg"
          />
          <input placeholder="Check Out Date" class="check-in-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="toDate" />
        </div>

        <div class="component-3">
          <img
            class="ant-designstar-filled-icon"
            alt=""
            src="../../assets/public/usersquare-12.svg"
          />
          <input type="number" class="guests" placeholder="Guests" pattern="\d*" />
        </div>
      </div>
        
      <div id="popular-destinations-main">
        <div class="popular-destinations">Popular destinations</div>
        <img
          class="logged-admin-main-child2"
          alt=""
          src="../../assets/public/rectangle-8@2x.png"
        />
        <div class="australia-wrapper">
          <div class="japan">Australia</div>
        </div>
        
        <img
          class="logged-admin-main-child3"
          alt=""
          src="../../assets/public/rectangle-9@2x.png"
        />
        <div class="logged-admin-main-child4"></div>
        <div class="japan-wrapper">
          <div class="japan">Japan</div>
        </div>

        <img
          class="logged-admin-main-child5"
          alt=""
          src="../../assets/public/rectangle-10@2x.png"
        />
        <div class="new-zealand-wrapper">
          <div class="dubai">New Zealand</div>
        </div>

        <img class="hotel1-1-icon" alt="" src="../../assets/public/hotel1-1@2x.png" />
        <div class="dubai-wrapper">
          <div class="dubai">Dubai</div>
        </div>
      </div>

      <div id="popular-hotels-main">
        <div class="popular-hotels">Popular hotels</div>
        
        <div class="card1">
          <img class="image-icon" alt="" src="../../assets/public/image1.svg" />
  
          <div class="information">
            <div class="name-star">
              <div class="recce-graham-resort">Recce Graham resort</div>
              <div class="star-group">
                <div class="star">
                  <img
                    class="ant-designstar-filled-icon"
                    alt=""
                    src="../../assets/public/antdesignstarfilled.svg"
                  />
                </div>
                <b class="b17">5.0</b>
              </div>
            </div>
            <div class="alice-springs-nt">Alice Springs NT 0870, Australia</div>
            <div class="night2">
              <span>$287,9</span>
              <span class="span"> </span>
              <span class="night1">/night</span>
            </div>
          </div>
        </div>
  
        <div class="card2">
          <img class="image-icon" alt="" src="../../assets/public/image1.svg" />
  
          <div class="information">
            <div class="name-star">
              <div class="recce-graham-resort">Fireside Dinners</div>
              <div class="star-group">
                <div class="star">
                  <img
                    class="ant-designstar-filled-icon"
                    alt=""
                    src="../../assets/public/antdesignstarfilled.svg"
                  />
                </div>
                <b class="b17">5.0</b>
              </div>
            </div>
            <div class="alice-springs-nt">Alice Springs NT 0870, Australia</div>
            <div class="night2">
              <span>$128,0</span>
              <span class="span"> </span>
              <span class="night1">/night</span>
            </div>
          </div>
        </div>
  
        <div class="card3">
          <img class="image-icon" alt="" src="../../assets/public/image1.svg" />
  
          <div class="information">
            <div class="name-star">
              <div class="recce-graham-resort">Oculous Inn Stay</div>
              <div class="star-group">
                <div class="star">
                  <img
                    class="ant-designstar-filled-icon"
                    alt=""
                    src="../../assets/public/antdesignstarfilled.svg"
                  />
                </div>
                <b class="b17">5.0</b>
              </div>
            </div>
            <div class="alice-springs-nt">Alice Springs NT 0870, Australia</div>
            <div class="night2">
              <span>$92,5</span>
              <span class="span"> </span>
              <span class="night1">/night</span>
            </div>
          </div>
        </div>
  
        <div class="card">
          <img class="image-icon" alt="" src="../../assets/public/image.svg" />
  
          <div class="information">
            <div class="name-star">
              <div class="the-aston-hotel">The Aston hotel</div>
              <div class="star-parent">
                <div class="star">
                  <img
                    class="ant-designstar-filled-icon"
                    alt=""
                    src="../../assets/public/antdesignstarfilled.svg"
                  />
                </div>
                <b class="b17">5.0</b>
              </div>
            </div>
            <div class="alice-springs-nt">Alice Springs NT 0870, Australia</div>
            <div class="night">
              <span>$165,3</span>
              <span class="span"> </span>
              <span class="night1">/night</span>
            </div>
          </div>
        </div>
      </div>

      <div id="download-app-main">
        <div class="rectangle-parent3">
          <img class="group-child28" alt="" src="../../assets/public/rectangle-18@2x.png" />

          <div class="download-the-mobile-applicatio-parent">
            <div class="download-the-mobile">
              Download the mobile application for bonus coupons and travel codes
            </div>
            <div class="download-mobile-app-wrapper">
              <b class="download-mobile-app">Download mobile app</b>
            </div>
          </div>
          <div class="isolated-right-hand-with-smart-parent">
            <img
              class="isolated-right-hand-with-smart-icon"
              alt=""
              src="../../assets/public/isolated-right-hand-with-smartphone-1@2x.png"
            />

            <img
              class="isolated-right-hand-with-smart-icon1"
              alt=""
              src="../../assets/public/isolated-right-hand-with-smartphone-2@2x.png"
            />
          </div>
        </div>

        <div class="explore-the-world-with-bookedu-parent">
          <div class="explore-the-world">Explore the world with BookedUp</div>
          <div class="discover-new-places">
            Discover new places and experiences
          </div>
        </div>
      </div>

      <div id="footer-main">
        <img
          class="logo-with-slogan-11"
          alt=""
          src="../../assets/public/logo-with-slogan-2@2x.png"
        />
        
        <b class="company5">Company</b>
        <div class="about12">About</div>
        <div class="jobs5">Jobs</div>
        <div class="newsroom5">Newsroom</div>
        <div class="advertising5">Advertising</div>
        <div class="contact-us5">Contact us</div>
        <div class="australia5">Australia</div>
        <div class="privacy-policy5">Privacy Policy</div>
        <div class="support5">Support</div>
        <div class="new-zealand5">New Zealand</div>
        <div class="terms-of-use5">Terms of use</div>
        <div class="cancel-your-bookings5">Cancel your bookings</div>
        <div class="united-states-america5">United States America (USA)</div>
        <div class="acessibility5">Acessibility</div>
        <div class="use-coupon5">Use Coupon</div>
        <div class="greece5">Greece</div>
        <div class="reward-system-policy5">Reward system policy</div>
        <div class="refund-policies5">Refund Policies</div>
        <div class="maldives5">Maldives</div>
        <div class="international-travel-documents5">
          International Travel Documents
        </div>
        <div class="singapore5">Singapore</div>
        <div class="see-more5">See more</div>
        <b class="explore5">Explore</b>
        <b class="terms-and-policies5">Terms and Policies</b>
        <b class="help5">Help</b>

        <div class="copyright-1-parent4">
          <img class="copyright-1-icon6" alt="" src="../../assets/public/copyright-1.svg" />
          <div class="bookedup-20236">BookedUp 2023 | Team 19 FTN</div>
        </div>
        
      </div>

    </div>
  </body>
</html>
