.logged-admin-main-child {
    position: absolute;
    top: 80px;
    left: 101px;
    border-radius: var(--br-3xs);
    width: 1239px;
    height: 500px;
    object-fit: cover;
  }
  .logged-admin-main-inner,
  .logged-admin-main-item {
    position: absolute;
    background-color: var(--color-white);
  }
  .logged-admin-main-item {
    top: 548px;
    left: 205px;
    border-radius: var(--br-5xs);
    box-shadow: 0 4px 37px rgba(0, 0, 0, 0.15);
    width: 1030px;
    height: 64px;
  }
  .logged-admin-main-inner {
    top: 0;
    left: 0;
    width: 1440px;
    height: 68px;
  }
  .home6 {
    position: relative;
    letter-spacing: 0.02em;
  }
  .home-parent4 {
    position: absolute;
    top: 30px;
    left: 596px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    font-size: var(--font-size-base);
    color: var(--gray-1);
  }
  .logged-admin-main-child1 {
    position: absolute;
    top: 12px;
    left: 1296px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    object-fit: cover;
  }
  .about12,
  .advertising5,
  .company5,
  .contact-us5,
  .jobs5,
  .newsroom5 {
    position: absolute;
    left: 415px;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .company5 {
    top: 1998px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    width: 70px;
    height: 17px;
  }
  .about12,
  .advertising5,
  .contact-us5,
  .jobs5,
  .newsroom5 {
    top: 2032px;
    width: 37px;
    height: 13px;
  }
  .advertising5,
  .contact-us5,
  .jobs5,
  .newsroom5 {
    top: 2054px;
    width: 30px;
  }
  .advertising5,
  .contact-us5,
  .newsroom5 {
    top: 2075px;
    width: 66px;
    height: 14px;
  }
  .advertising5,
  .contact-us5 {
    top: 2097px;
    width: 69px;
    height: 15px;
  }
  .contact-us5 {
    top: 2120px;
    width: 67px;
  }
  .australia5,
  .cancel-your-bookings5,
  .new-zealand5,
  .privacy-policy5,
  .support5,
  .terms-of-use5 {
    position: absolute;
    top: 2032px;
    left: 657px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 53px;
    height: 13px;
  }
  .cancel-your-bookings5,
  .new-zealand5,
  .privacy-policy5,
  .support5,
  .terms-of-use5 {
    left: 899px;
    width: 84px;
  }
  .cancel-your-bookings5,
  .new-zealand5,
  .support5,
  .terms-of-use5 {
    left: 1141px;
    width: 49px;
  }
  .cancel-your-bookings5,
  .new-zealand5,
  .terms-of-use5 {
    top: 2054px;
    left: 657px;
    width: 81px;
  }
  .cancel-your-bookings5,
  .terms-of-use5 {
    left: 899px;
    width: 78px;
  }
  .cancel-your-bookings5 {
    left: 1141px;
    width: 132px;
  }
  .acessibility5,
  .greece5,
  .united-states-america5,
  .use-coupon5 {
    position: absolute;
    top: 2075px;
    left: 657px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 177px;
    height: 14px;
  }
  .acessibility5,
  .greece5,
  .use-coupon5 {
    left: 899px;
    width: 70px;
  }
  .greece5,
  .use-coupon5 {
    left: 1141px;
    width: 76px;
  }
  .greece5 {
    top: 2097px;
    left: 657px;
    width: 44px;
    height: 15px;
  }
  .international-travel-documents5,
  .maldives5,
  .refund-policies5,
  .reward-system-policy5 {
    position: absolute;
    top: 2097px;
    left: 899px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 133px;
    height: 15px;
  }
  .international-travel-documents5,
  .maldives5,
  .refund-policies5 {
    left: 1141px;
    width: 94px;
  }
  .international-travel-documents5,
  .maldives5 {
    top: 2120px;
    left: 657px;
    width: 55px;
  }
  .international-travel-documents5 {
    left: 1141px;
    width: 189px;
  }
  .explore5,
  .help5,
  .see-more5,
  .singapore5,
  .terms-and-policies5 {
    position: absolute;
    top: 2141px;
    left: 657px;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 62px;
    height: 14px;
  }
  .explore5,
  .help5,
  .see-more5,
  .terms-and-policies5 {
    top: 2164px;
    font-size: var(--body-small-bold-size);
    color: var(--blue-1);
    width: 58px;
    height: 13px;
  }
  .explore5,
  .help5,
  .terms-and-policies5 {
    top: 1998px;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    width: 54px;
    height: 17px;
  }
  .help5,
  .terms-and-policies5 {
    left: 899px;
    width: 133px;
  }
  .help5 {
    left: 1141px;
    width: 34px;
  }
  .popular-destinations,
  .popular-hotels {
    position: absolute;
    top: 692px;
    left: 101px;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-400);
    display: inline-block;
    width: 504px;
    height: 29px;
  }
  .popular-hotels {
    top: 1194px;
    height: 26px;
  }
  .logged-admin-main-child2 {
    position: absolute;
    top: 740px;
    left: 100px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .australia-wrapper {
    position: absolute;
    top: 1103px;
    left: 100px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .logged-admin-main-child3 {
    position: absolute;
    top: 740px;
    left: 415px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .logged-admin-main-child4 {
    position: absolute;
    top: 2208px;
    left: 0;
    background-color: var(--color-whitesmoke-400);
    width: 1440px;
    height: 41px;
  }
  .japan {
    position: relative;
    display: inline-block;
    width: 295px;
  }
  .japan-wrapper {
    position: absolute;
    top: 1103px;
    left: 415px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .logged-admin-main-child5 {
    position: absolute;
    top: 740px;
    left: 730px;
    border-radius: var(--br-5xs);
    width: 295px;
    height: 345px;
    object-fit: cover;
  }
  .new-zealand-wrapper {
    position: absolute;
    top: 1103px;
    left: 730px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .dubai {
    position: relative;
  }
  .dubai-wrapper {
    position: absolute;
    top: 1103px;
    left: 1043px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-xl);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .find-your-perfect,
  .the-perfect-stay {
    position: absolute;
    top: 270px;
    left: 415px;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 610px;
  }
  .find-your-perfect {
    top: 328px;
    left: 395px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;
    line-height: 140%;
    width: 650px;
  }
  .discover-new-places,
  .explore-the-world {
    position: absolute;
    left: 0;
    line-height: 140%;
    width: 820px;
  }
  .explore-the-world {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.1px;
  }
  .discover-new-places {
    top: 39.2px;
    font-size: var(--font-size-base);
    letter-spacing: 0.02em;
    color: var(--blue-1);
    display: inline-block;
    height: 18px;
  }
  .explore-the-world-with-bookedu-parent {
    position: absolute;
    top: 1876.9px;
    left: 310px;
    width: 820px;
    height: 57.2px;
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-400);
  }
  .search-container {
    position: absolute;
    top: 558px;
    left: 1075px;
    border-radius: var(--br-7xs);
    background-color: var(--blue-1);
    width: 148px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-lg);
    box-sizing: border-box;
    cursor: pointer;
    font-size: var(--font-size-mini);
    color: var(--color-white);
  }
  .copyright-1-icon6 {
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .bookedup-20236 {
    position: relative;
    line-height: 140%;
  }
  .copyright-1-parent4 {
    position: absolute;
    top: 2220px;
    right: 667px;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
    font-size: var(--font-size-sm);
  }
  .group-child28 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    width: 1240px;
    height: 228.7px;
    object-fit: cover;
  }
  .download-the-mobile {
    position: relative;
    line-height: 140%;
    display: inline-block;
    width: 580px;
  }
  .download-mobile-app {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 20px;
  }
  .download-mobile-app-wrapper {
    border-radius: var(--br-7xs);
    background-color: var(--blue-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-lg);
    font-size: var(--font-size-mini);
  }
  .download-the-mobile-applicatio-parent {
    position: absolute;
    top: 52.3px;
    left: 69px;
    height: 124.2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .isolated-right-hand-with-smart-icon,
  .isolated-right-hand-with-smart-icon1 {
    position: absolute;
    top: 142.1px;
    left: 0;
    width: 789px;
    height: 228.7px;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .isolated-right-hand-with-smart-icon1 {
    opacity: 0.6;
    mix-blend-mode: multiply;
  }
  .isolated-right-hand-with-smart-parent {
    position: absolute;
    top: -142.1px;
    left: 451px;
    width: 828.6px;
    height: 558.9px;
  }
  .rectangle-parent3 {
    position: absolute;
    top: 1582.9px;
    left: 100px;
    width: 1240px;
    height: 228.7px;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
  }
  .where-are-you {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
  }
  .component-1 {
    position: absolute;
    top: 558px;
    left: 217px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 242px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .check-in-date {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
    width: 105px;
    color: #828282;
    flex-shrink: 0;
  }
  .input-wrapper {
    display: inline-block;
  }
  
  input {
    border: none;
    outline: none;
    background: none;
    font-family: var(--font-adamina);
    font-size: var(--font-size-mini);
  }
  .component-2,
  .component-4 {
    position: absolute;
    top: 558px;
    left: 477px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 170px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .component-2 {
    left: 665px;
  }
  .guests {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
    width: 140px;
    flex-shrink: 0;
  }
  .component-3 {
    position: absolute;
    top: 558px;
    left: 856px;
    border-radius: var(--br-9xs);
    background-color: var(--gray-6);
    width: 207px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-xs) var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    font-size: var(--font-size-sm);
  }
  .logo-1-icon,
  .logo-with-slogan-11 {
    position: absolute;
    top: 10px;
    left: 86px;
    width: 126px;
    height: 58px;
    object-fit: cover;
  }
  .logo-with-slogan-11 {
    top: 1985px;
    left: 22px;
    width: 352px;
    height: 172px;
  }
  .hotel1-1-icon,
  .logged-admin-main-child6 {
    position: absolute;
    border-radius: var(--br-7xs);
    top: 722px;
    left: 1043px;
    width: 298px;
    height: 345px;
  }
  .hotel1-1-icon {
    top: 740px;
    object-fit: cover;
  }
  .image-icon {
    position: relative;
    border-radius: var(--br-xs) var(--br-xs) 0 0;
    width: 295px;
    height: 209px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .the-aston-hotel {
    position: relative;
    line-height: 150%;
    z-index: 0;
  }
  .ant-designstar-filled-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .star {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b17 {
    position: relative;
    line-height: 150%;
  }
  .name-star,
  .star-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .star-parent {
    margin: 0 !important;
    position: absolute;
    top: 1px;
    left: 223px;
    width: 55px;
    gap: var(--gap-5xs);
    z-index: 1;
    font-size: var(--body-small-bold-size);
    font-family: var(--body-small-bold);
  }
  .name-star {
    width: 283px;
    position: relative;
    gap: var(--gap-61xl);
  }
  .alice-springs-nt {
    align-self: stretch;
    position: relative;
    font-size: var(--body-small-bold-size);
    line-height: 150%;
    color: var(--color-gray-100);
  }
  .span {
    color: var(--color-mediumslateblue);
  }
  .night1 {
    color: var(--color-gray-100);
  }
  .night {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    color: var(--color-gray-400);
  }
  .card,
  .information {
    width: 295px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information {
    border-radius: 0 0 var(--br-xs) var(--br-xs);
    background-color: var(--color-white);
    box-shadow: 4px 4px 16px rgba(17, 34, 17, 0.04);
    height: 88px;
    padding: var(--padding-xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .card {
    position: absolute;
    top: 1246px;
    left: 100px;
    height: 298px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-500);
    font-family: var(--font-adamina);
  }
  .recce-graham-resort {
    position: relative;
    z-index: 0;
  }
  .star-group {
    margin: 0 !important;
    position: absolute;
    top: 1px;
    left: 223px;
    width: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    z-index: 1;
    font-size: var(--body-small-bold-size);
    color: var(--color-gray-500);
    font-family: var(--body-small-bold);
  }
  .night2 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
  }
  .card1,
  .card2,
  .card3 {
    position: absolute;
    top: 1246px;
    left: 415px;
    width: 295px;
    height: 298px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-gray-400);
    font-family: var(--font-adamina);
  }
  .card2,
  .card3 {
    top: 1244px;
    left: 730px;
  }
  .card3 {
    top: 1246px;
    left: 1045px;
  }
  .chevron-right-regular-24-1-icon,
  .chevron-right-regular-24-1-icon1 {
    position: absolute;
    top: 893px;
    left: 1359px;
    width: 40px;
    height: 39px;
    object-fit: cover;
  }
  .chevron-right-regular-24-1-icon1 {
    top: 1333px;
  }
  .chevron-left-regular-24-2-icon,
  .chevron-left-regular-24-3-icon {
    position: absolute;
    top: 892px;
    left: 40px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .chevron-left-regular-24-3-icon {
    top: 1331px;
    left: 41px;
  }
  .logged-admin-main {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2249px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-2xs);
    color: var(--gray-2);
    font-family: var(--font-sansation);
  }
  .user-square-2-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .user-square-2-parent {
    align-self: stretch;
    background-color: var(--color-white);
    box-shadow: 0 0.5px 0#d5d5d5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-sm);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .frame-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .my-reservations {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 20px;
  }
  .frame-parent6 {
    box-shadow: 0 0.5px 0#d5d5d5;
    width: 200px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-3xs) var(--padding-10xs) var(--padding-3xs)
      var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .admin-dropdown,
  .frame-parent6,
  .logout-1-parent {
    background-color: var(--color-white);
    display: flex;
    justify-content: flex-start;
  }
  .logout-1-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
      var(--padding-sm);
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .admin-dropdown {
    position: relative;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.15);
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-3xs) 0;
    box-sizing: border-box;
    gap: var(--gap-12xs);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--gray-2);
    font-family: var(--font-sansation);
  }
  