<html>
<body>
    <div class="amenities-admin">

        <div class="amenities-admin-child"></div>
        <app-header-host></app-header-host>

        <div id="sort-bar" class="sort-bar">
            <div class="all-reservation" [ngClass]="{ 'clicked': selectedClass === 'all-reservation' }" (click)="changeStyle('all-reservation')">
              All Reservations
            </div>
            <div class="waiting-reservation" [ngClass]="{ 'clicked': selectedClass === 'waiting-reservation' }" (click)="changeStyle('waiting-reservation')">
              Waiting For Approval
            </div>
            <div class="accepted-reservation" [ngClass]="{ 'clicked': selectedClass === 'accepted-reservation' }" (click)="changeStyle('accepted-reservation')">
              Accepted
            </div>
            <div class="rejected-reservation" [ngClass]="{ 'clicked': selectedClass === 'rejected-reservation' }" (click)="changeStyle('rejected-reservation')">
              Rejected
            </div>
            <div class="cancelled-reservation" [ngClass]="{ 'clicked': selectedClass === 'cancelled-reservation' }" (click)="changeStyle('cancelled-reservation')">
              Cancelled
            </div>
            <div class="finished-reservation" [ngClass]="{ 'clicked': selectedClass === 'finished-reservation' }" (click)="changeStyle('finished-reservation')">
              Finished
            </div>
        </div>

        <div class="main-content" id="main-content">
          <div *ngFor="let reservation of reservations | async" class="acc-frame" [class.created-status]="reservation.status === 'CREATED'"
                                                                                  [class.cancelled-status]="reservation.status === 'CANCELLED'"
                                                                                  [class.rejected-status]="reservation.status === 'REJECTED'"
                                                                                  [class.accepted-status]="reservation.status === 'ACCEPTED'">

              <img
                class="accommodation-image"
                alt=""
                [src]="reservation.accommodation.photos[0]"
              />



              <div class="left-data">
                <div class="top-data-box">
<!--                  <b class="title">Accommodation Title</b>-->

<!--                  <div class="reviews-frame">-->
<!--                    <div class="stars-container">-->
<!--                      <span class="star" *ngFor="let star of generateStars(roundHalf(4.3))">-->
<!--                        {{ star }}-->
<!--                      </span>-->
<!--                    </div>-->
<!--                    <div class="reviews-average">{{ roundHalf(4.3) }}</div>-->
<!--                  </div>-->

                   <b class="title">{{ reservation.accommodation.name }}</b>
                  <div class="reviews-frame">
                    <div class="stars-container">
                      <span class="star" *ngFor="let star of generateStars(roundHalf(reservation.accommodation.averageRating/2))">
                        {{ star }}
                      </span>
                    </div>
                    <div class="reviews-average">{{ roundHalf(reservation.accommodation.averageRating/2) }}</div>
                  </div>

                  <b class="status-text" [class.created-status-text]="reservation.status === 'CREATED'"
                                        [class.accepted-status-text]="reservation.status === 'ACCEPTED'"
                                        [class.cancelled-status-text]="reservation.status === 'CANCELLED'"
                                        [class.rejected-status-text]="reservation.status === 'REJECTED'">{{ reservation.status }}</b>
                </div>

                <div class="bottom-data-box">
                    <b class="per-night">{{ reservation.totalPrice }}$</b>
                    <div class="includes-taxes">Check In: {{ reservation.startDate| date: 'EEEE, MMMM d, y' }}</div>
                    <div class="includes-taxes">Check Out: {{ reservation.endDate | date: 'EEEE, MMMM d, y' }}</div>
                </div>
              </div>

              <div class="right-buttons">
                <div class="accept-button" id="accept-button">
                  <b class="button-text">Accept</b>
                </div>
                <div class="reject-button" id="reject-button">
                  <b class="button-text">Reject</b>
                </div>
                <div class="view-details-button" id="view-details-button">
                  <b class="button-text">View Details</b>
                </div>
              </div>
            </div>
          </div>


        <div id="footer" class="footer-acc">
            <img class="copyright-1-icon" alt="" src="../../assets/public/copyright-1.svg" />
            <div class="bookedup-2023">BookedUp 2023 | Team 19 FTN</div>
        </div>

    </div>
  </body>
</html>
