<footer>
    <div class="footer-container">
      <div class="footer-section">
        <img class="logo-with-slogan" alt="" src="../../assets/public/logo-with-slogan-2@2x.png" />
      </div>
  
      <div class="footer-section">
        <b class="footer-title">Company</b>
        <div class="footer-text">About</div>
        <div class="footer-text">Jobs</div>
        <div class="footer-text">Newsroom</div>
        <div class="footer-text">Advertising</div>
        <div class="footer-text">Contact us</div>
      </div>
  
      <div class="footer-section">
        <b class="footer-title">Explore</b>
        <div class="footer-text">Australia</div>
        <div class="footer-text">New Zealand</div>
        <div class="footer-text">United States America (USA)</div>
        <div class="footer-text">Greece</div>
        <div class="footer-text">Maldives</div>
        <div class="footer-text">Singapore</div>
      </div>
  
      <div class="footer-section">
        <b class="footer-title">Terms and Policies</b>
        <div class="footer-text">Privacy Policy</div>
        <div class="footer-text">Terms of use</div>
        <div class="footer-text">Accessibility</div>
        <div class="footer-text">Reward system policy</div>
      </div>
  
      <div class="footer-section">
        <b class="footer-title">Help</b>
        <div class="footer-text">Support</div>
        <div class="footer-text">Cancel your bookings</div>
        <div class="footer-text">Use Coupon</div>
        <div class="footer-text">Refund Policies</div>
        <div class="footer-text">International Travel Documents</div>
      </div>
    </div>
  
    <div class="copyright">
      <img class="copyright-icon" alt="" src="../../assets/public/copyright-1.svg" />
      <div class="copyright-text">BookedUp 2023 | Team 19 FTN</div>
    </div>
  </footer>
  