<!DOCTYPE html>
<html>
  <body>
    <div class="acc-details">
    
      <app-header style="background-color: var(--color-white);"></app-header>
      
      <div id="apartment-images" class="images-container">
        <div id="slider" class="slider-box">
          <div class="image-box">
            <div *ngFor="let url of pictureUrls; let i = index" [class.active]="i === currentIndex">
              <img class="room-image" alt="" [src]="url" (click)="nextImage()" />
            </div>
          </div>
        </div>
        <div id="more-images" class="more-images">
          <img class="more" alt="" [src]="pictureUrls[1]" style="padding-bottom: 4%;"/>
          <img class="more" alt="" [src]="pictureUrls[2]" />
        </div>
      </div>
      
      <div id="nav-bar" class="nav-bar">
        <div class="bar-text" [ngClass]="{ 'clicked': selectedClass === 'bar-text' }" (click)="changeStyle('bar-text')">Overview</div>
        <div class="bar-text-review" [ngClass]="{ 'clicked': selectedClass === 'bar-text-review' }" (click)="changeStyle('bar-text-review')">Guest Review</div>
      </div>
      
      <div id="main-data" class="main-data-box">
        <div id="right-data" class="right-container">
          <div class="right-data">
            <div class="right-box">
              <div id="apartmentName" class="title-text">Lakeside Motel Warefront</div>
  
              <div class="reviews-frame">
                <div class="stars-container">
                  <span class="star" *ngFor="let star of generateStars(roundHalf(4.5))">
                    {{ star }}
                  </span>
                </div>
                <div class="reviews-average">{{ roundHalf(4.5) }}</div>
              </div>
  
              <div id="address" class="address">
                <img class="icon" alt="" src="../../assets/public/location-1.svg" />
                <div class="" id="normal-text">
                  Lorem ipsum road, Tantruim-2322, Melbourne, Australia
                </div>
              </div>
              
            </div>
            <div class="left-box">
              <b class="totalPrice">$240</b><br>
              <b class="singlePrice">$120/per night</b><br>
              <div class="normal-text" style="margin-top: 10px;">2 adult, 2 days</div>
            </div>
          </div>
          

          <div id="description" class="description">
            <div class="description-box">
              <b class="totalPrice">Overview</b>
              <div id="about" style="margin-top: 10px;">
                <div class="normal-text">
                  <p>
                    Featuring free WiFi throughout the property, Lakeside Motel Waterfront
                    offers accommodations in Lakes Entrance, 19 mi from Bairnsdale. Free
                    private parking is available on site.
                  </p>
                  <p class="normal-text"></p>
                  <p class="normal-text">
                    Each room at this motel is air conditioned and comes with a
                    flat-screen TV. You will find a kettle, toaster and a microwave in the
                    room. Each room is fitted with a private bathroom. Guests have access
                    to barbecue facilities and a lovely large lawn area. Metung is 6.8 mi
                    from Lakeside Motel Waterfront, while Paynesville is 14 mi from the
                    property.
                  </p>
                  <p class="normal-text"></p>
                  <p class="normal-text">
                    Couples in particular like the location – they rated it 9.2 for a
                    two-person trip.
                  </p>
                </div>
              </div>
              <img class="line" alt="" src="../../assets/public/vector-1.svg"><br>
              <b class="totalPrice">Top Facilities</b>
              <div id="" class="address" style="margin-top: 10px;">
                <img class="icon" alt="" src="../../assets/public/output-onlinepngtools.png" />
                <div class="normal-text">Air Conditioning</div>
              </div>
            </div>
          </div>
        </div>

        
        <div id="left-data" class="left-container">
          <app-map></app-map>

          <!-- src="http://maps.google.com/?q=[lat],[long]"  -->
        </div>
      </div>
      


      <!-- <app-shorter-footer></app-shorter-footer> -->

    </div>
  </body>
</html>
