<!DOCTYPE html>
<html>
  <body>
    <div class="ad-unlogged">
      <div class="ad-unlogged-child"></div>
      <div class="ad-unlogged-inner">
        <div class="frame-parent40">
          <div class="overview-wrapper5">
            <div class="overview13">Overview</div>
          </div>
          <div class="frame-child31"></div>
        </div>
      </div>
      <div class="ad-unlogged-item"></div>
      <div class="home-parent27">
        <div class="home29" id="homeText">Home</div>
        <div class="overview13">About</div>
        <div class="overview13">Contact</div>
      </div>
      <div class="ad-unlogged-child1"></div>
      <img
        class="ad-unlogged-child2"
        alt=""
        src="../../assets/public/rectangle-28@2x.png"
      />

      <img
        class="ad-unlogged-child3"
        alt=""
        src="../../assets/public/rectangle-29@2x.png"
      />

      <img
        class="ad-unlogged-child4"
        alt=""
        src="../../assets/public/rectangle-30@2x.png"
      />

      <img
        class="ad-unlogged-child5"
        alt=""
        src="../../assets/public/rectangle-65@2x.png"
      />

      <div class="lakeside-motel-warefront29">Lakeside Motel Warefront</div>
      <img class="location-1-icon15" alt="" src="../../assets/public/location-1.svg" />

      <div class="lorem-ipsum-road11">
        Lorem ipsum road, Tantruim-2322, Melbourne, Australia
      </div>
      <div class="reviews-parent8">
        <div class="reviews52">4.5 (1200 Reviews)</div>
        <img class="group-child105" alt="" src="../../assets/public/group-5.svg" />
      </div>
      <div class="ad-unlogged-child6"></div>
      <div class="ad-unlogged-child7"></div>
      <div class="ad-unlogged-child8"></div>
      <b class="top-facilities5">Top facilities</b>
      <b class="overview14">Overview</b>
      <b class="explore-the-area4">Explore the area</b>
      <div class="free-wifi6">Free wifi</div>
      <img class="wind-1-icon5" alt="" src="../../assets/public/wind-1.svg" />

      <div class="air-conditioning6">Air Conditioning</div>
      <img class="car-1-icon5" alt="" src="../../assets/public/car-1.svg" />

      <div class="parking-available6">Parking available</div>
      <div class="bag-tick-2-1-parent3">
        <img class="bag-tick-2-1-icon5" alt="" src="../../assets/public/bagtick2-1.svg" />

        <div class="sq-ft">Business Services</div>
      </div>
      <div class="lifebuoy-1-parent3">
        <img class="bag-tick-2-1-icon5" alt="" src="../../assets/public/lifebuoy-11.svg" />

        <div class="sq-ft">Swimming pool</div>
      </div>
      <div class="like-1-1-parent3">
        <img class="bag-tick-2-1-icon5" alt="" src="../../assets/public/like1-1.svg" />

        <div class="sq-ft">Top rated in area</div>
      </div>
      <div class="frame-parent41">
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/bagtick2-11.svg"
          />

          <div class="sq-ft">300 sq ft</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/lifebuoy-12.svg"
          />

          <div class="sq-ft">Sleeps 3</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/like1-11.svg" />

          <div class="sq-ft">1 double bed and 1 twin bed</div>
        </div>
      </div>
      <div class="frame-parent42">
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/bagtick2-11.svg"
          />

          <div class="sq-ft">300 sq ft</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/lifebuoy-12.svg"
          />

          <div class="sq-ft">Sleeps 3</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/like1-11.svg" />

          <div class="sq-ft">1 double bed and 1 twin bed</div>
        </div>
      </div>
      <img class="home-wifi-1-icon5" alt="" src="../../assets/public/homewifi-11.svg" />

      <img class="ad-unlogged-child9" alt="" src="../../assets/public/vector-1.svg" />

      <div class="featuring-free-wifi-container5">
        <p class="featuring-free-wifi5">
          Featuring free WiFi throughout the property, Lakeside Motel Waterfront
          offers accommodations in Lakes Entrance, 19 mi from Bairnsdale. Free
          private parking is available on site.
        </p>
        <p class="featuring-free-wifi5"></p>
        <p class="featuring-free-wifi5">
          Each room at this motel is air conditioned and comes with a
          flat-screen TV. You will find a kettle, toaster and a microwave in the
          room. Each room is fitted with a private bathroom. Guests have access
          to barbecue facilities and a lovely large lawn area. Metung is 6.8 mi
          from Lakeside Motel Waterfront, while Paynesville is 14 mi from the
          property.
        </p>
        <p class="featuring-free-wifi5"></p>
        <p class="featuring-free-wifi5">
          Couples in particular like the location – they rated it 9.2 for a
          two-person trip.
        </p>
      </div>
      <div class="frame-parent43">
        <div class="bxs-plane-alt-2-parent2">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/bxsplanealt-21.svg"
          />

          <div class="hotel-penselvenyia4">Hotel Penselvenyia</div>
          <div class="min-drive20">2 min drive</div>
        </div>
        <div class="bxs-plane-alt-2-parent2">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/bxsmap-11.svg" />

          <div class="hotel-penselvenyia4">Travis Bakery store house</div>
          <div class="min-drive20">10 min drive</div>
        </div>
        <div class="bxs-plane-alt-2-parent2">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/bxsmap-11.svg" />

          <div class="hotel-penselvenyia4">Olivia Johnson Garden</div>
          <div class="min-drive20">15 min drive</div>
        </div>
        <div class="bxs-plane-alt-2-parent2">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/bxsmap-11.svg" />

          <div class="hotel-penselvenyia4">Norman Opera Circus</div>
          <div class="min-drive20">18 min drive</div>
        </div>
        <div class="bxs-plane-alt-2-parent2">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/bxsmap-11.svg" />

          <div class="hotel-penselvenyia4">Rockdeset hotel</div>
          <div class="min-drive20">32 min drive</div>
        </div>
      </div>
      <div class="ad-unlogged-child10"></div>
      <div class="calendar-1-parent6">
        <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/calendar-1.svg" />

        <div class="sq-ft">Feb 3, 2022</div>
      </div>
      <div class="calendar-2-parent6">
        <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/calendar-2.svg" />

        <div class="feb-7-20228">Feb 7, 2022</div>
      </div>
      <div class="user-square-1-parent6">
        <img
          class="bag-tick-2-1-icon6"
          alt=""
          src="../../assets/public/usersquare-11.svg"
        />

        <div class="adult-1-room12">2 adult, 1 room</div>
      </div>
      <div class="adult-1-room13">2 adult, 1 room, 2 days</div>
      <div class="check-availability-wrapper3">
        <b class="register">Check Availability</b>
      </div>
      <div class="available-rooms5">Available rooms</div>
      <img
        class="ad-unlogged-child11"
        alt=""
        src="../../assets/public/rectangle-701@2x.png"
      />

      <img
        class="ad-unlogged-child12"
        alt=""
        src="../../assets/public/rectangle-71@2x.png"
      />

      <b class="lux-twin-ben">Lux twin ben, Multiple beds</b>
      <div class="ad-unlogged-child13"></div>
      <div class="frame-parent44">
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/bagtick2-11.svg"
          />

          <div class="sq-ft">300 sq ft</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img
            class="bag-tick-2-1-icon6"
            alt=""
            src="../../assets/public/lifebuoy-12.svg"
          />

          <div class="sq-ft">Sleeps 3</div>
        </div>
        <div class="bag-tick-2-1-parent4">
          <img class="bag-tick-2-1-icon6" alt="" src="../../assets/public/like1-11.svg" />

          <div class="sq-ft">1 double bed and 1 twin bed</div>
        </div>
      </div>
      <img
        class="ad-unlogged-child14"
        alt=""
        src="../../assets/public/rectangle-73@2x.png"
      />

      <b class="standard-twin-ben">Standard twin ben, Multiple beds</b>
      <b class="standard-twin-ben1">Standard twin ben, 1 Queen bed</b>
      <img
        class="cream-black-minimalist-illustr27"
        alt=""
        src="../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png"
      />

      <div class="wrapper11">
        <b class="b80">$240</b>
      </div>
      <div class="per-night-wrapper7">
        <b class="b80">$120/per night</b>
      </div>
      <div class="register-wrapper" id="frameContainer31">
        <b class="register">Register</b>
      </div>
      <div class="sign-in-wrapper" id="frameContainer32">
        <b class="register">Sign In</b>
      </div>
      <img
        class="chevron-right-regular-24-1-icon5"
        alt=""
        src="../../assets/public/chevronrightregular24-1@2x.png"
      />

      <img
        class="chevron-left-regular-24-1-icon3"
        alt=""
        src="../../assets/public/chevronleftregular24-2@2x.png"
      />

      <div class="ad-unlogged-child15"></div>
      <div class="copyright-1-parent27">
        <img class="copyright-1-icon29" alt="" src="../../assets/public/copyright-1.svg" />

        <div class="bookedup-202330">BookedUp 2023 | Team 19 FTN</div>
      </div>
    </div>
  </body>
</html>
