<!DOCTYPE html>
<html>
  <body>
    <div class="reservation">

      <app-nav-bar></app-nav-bar>


      <div id="main-data" class="main-data-box">
        <div id="right-data" class="right-container">
          <div class="title-text" style="margin-bottom: 5%;">Secure Your Reservation</div>
          <div id="description" class="description">
            <div class="description-box">
              <b class="totalPrice">Overview</b>
              <div id="about" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="normal-text">
                  "soemthing"
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div id="left-data" class="left-container">
          
        </div>
      </div>
      
      <app-shorter-footer></app-shorter-footer>

    </div>
  </body>
</html>