<!DOCTYPE html>
<html>
  <body>
    <div class="register-guest">

      <div id="logo-picture">
        <img
          class="logo-with-slogan-31"
          alt=""
          src="../../assets/public/logo-with-slogan-4@2x.png"
        />
      </div>

      <div id="inputs"> 
        <div class="register4">Register</div>
        
        <b class="email-address16">Email address</b>
        <div class="email-address17">
          <input type="email" id="email" name="email" placeholder="Enter email address..." class="input-transparent">
        </div>

        <b class="first-name6">First Name</b>
        <div class="first-name7">
          <input type="text" id="firstName" name="firstName" placeholder="Enter first name..." class="input-transparent">
        </div>
        
        <b class="last-name6">Last Name</b>
        <div class="last-name7">
          <input type="text" id="lastName" name="lastName" placeholder="Enter last name..."  class="input-transparent">
        </div>

        <b class="address4">Address</b>
        <div class="adress1">
          <input type="text" id="address" name="address" placeholder="Enter address..." class="input-transparent">
        </div>

        <b class="mobile-phone2">Mobile Phone</b>
        <div class="mobile-phone3">
          <input type="tel" id="phone" name="phone" placeholder="Enter mobile phone..." class="input-transparent">
        </div>
        
        <b class="role-2">Role</b>
        <div class="container" id="sliderContainer" (click)="toggleText()">
          <div class="role" id="roleContainer">
            <div class="text-container">
              <div class="slider-text">{{ showHostText ? 'Host' : 'Guest' }}</div>
            </div>
          </div>
        </div>
      </div>

      <div id="continue-button">
        <div class="continue-with-email-container" id="registrationStep2">
          <b class="continue-with-email1">Continue with next step</b>
        </div>
      </div>

      <div id="have-account">
        <div class="already-have-an-container1" id="alreadyHaveAnRegistration">
          <span>Already have an account? </span>
          <span class="sign-in4">Sign in</span>
        </div>
      </div>

    </div>
  </body>
</html>
