.acc-details {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  min-height: 100vh;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--gray-2);
  font-family: var(--font-sansation); 
  display: flex;
  flex-direction: column;
}
.images-container{
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(244, 244, 244, 0), #fff);
  border-radius: 5px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}