<html>
    <body>
        <div class="add-new-amenities">
          <div class="add-new-amenities-child"></div>
          <img
            class="notification-1-icon4"
            alt=""
            src="../../assets/public/notification-11.svg"
            id="notification1Icon"
          />
    
          <img
            class="add-new-amenities-item"
            alt=""
            src="../../assets/public/ellipse-21@2x.png"
            id="ownerManage-create"
          />
    
          <div class="home-parent9">
            <div class="home11" id="homeText-create">Home</div>
            <div class="about20">About</div>
            <div class="about20">Contact</div>
          </div>
          <div class="add-new-amenities-inner"></div>
          <img
            class="add-new-amenities-child1"
            alt=""
            src="../../assets/public/rectangle-281@2x.png"
          />
    
          <img
            class="add-new-amenities-child2"
            alt=""
            src="../../assets/public/rectangle-291@2x.png"
          />
    
          <img
            class="add-new-amenities-child3"
            alt=""
            src="../../assets/public/rectangle-291@2x.png"
          />
    
          <div class="amenities-name">Amenities name:</div>
          <div class="add-new-amenities-child4"></div>
          <div class="add-new-amenities-child5"></div>
          <img class="location-1-icon5" alt="" src="../../assets/public/location-1.svg" />
    
          <div class="group-parent">
            <div class="reviews-container">
              <div class="reviews18">0 (0 Reviews)</div>
              <img class="group-child59" alt="" src="../../assets/public/group-51.svg" />
            </div>
            <img class="star-s-fill-5-icon" alt="" src="../../assets/public/starsfill-5.svg" />
          </div>
          <div class="add-new-amenities-child6"></div>
          <div class="add-new-amenities-child7"></div>
          <b class="min-guests">Min Guests</b>
          <b class="automatically-accept-reservati"
            >Automatically Accept Reservations</b
          >
          <div class="add-new-amenities-child8"></div>
          <b class="max-guests">Max Guests</b>
          <img
            class="add-new-amenities-child9"
            alt=""
            src="../../assets/public/vector-1.svg"
          />
    
          <img
            class="add-new-amenities-child10"
            alt=""
            src="../../assets/public/vector-1.svg"
          />
    
          <div class="add-new-amenities-child11"></div>
          <div class="add-new-amenities-child12"></div>
          <b class="amenities-type">Amenities Type</b>
          <div class="hotel">Hotel</div>
          <div class="hostel">Hostel</div>
          <div class="rectangle-parent9">
            <div class="frame-child6"></div>
            <div class="apartment">Apartment</div>
          </div>
          <div class="rectangle-parent10">
            <div class="frame-child6"></div>
            <div class="apartment">Villa</div>
          </div>
          <div class="add-new-amenities-child13"></div>
          <div class="add-new-amenities-child14"></div>
          <div class="resort">Resort</div>
          <div class="add-new-amenities-child15"></div>
          <div class="add-new-amenities-child16"></div>
          <b class="facilities">Facilities</b>
          <b class="price">Price</b>
          <b class="overview2">Overview</b>
          <div class="free-wifi1">Free wifi</div>
          <div class="air-conditioning1">Air Conditioning</div>
          <div class="rectangle-parent11">
            <div class="frame-child6"></div>
            <div class="apartment">Business Services</div>
          </div>
          <div class="add-new-amenities-child17"></div>
          <div class="per-night5">Per Night</div>
          <div class="add-new-amenities-child18"></div>
          <div class="per-guest">Per Guest</div>
          <div class="rectangle-parent12">
            <div class="frame-child6"></div>
            <div class="apartment">Parking available</div>
          </div>
          <div class="add-new-amenities-child19"></div>
          <div class="swimming-pool1">Swimming pool</div>
          <div class="rectangle-parent13">
            <div class="frame-child6"></div>
            <div class="apartment">Top rated in area</div>
          </div>
          <img
            class="add-new-amenities-child20"
            alt=""
            src="../../assets/public/vector-1.svg"
          />
    
          <img
            class="add-new-amenities-child21"
            alt=""
            src="../../assets/public/vector-1.svg"
          />
    
          <img
            class="add-new-amenities-child22"
            alt=""
            src="../../assets/public/vector-1.svg"
          />
    
          <div class="add-overview-here">Add overview here...</div>
          <img
            class="cream-black-minimalist-illustr10"
            alt=""
            src="../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png"
          />
    
          <div class="add-new-amenities-child23"></div>
          <div class="copyright-1-parent9">
            <img class="copyright-1-icon11" alt="" src="../../assets/public/copyright-1.svg" />
    
            <div class="bookedup-202311">BookedUp 2023 | Team 19 FTN</div>
          </div>
          <div class="save-amenities-wrapper" id="frameContainer7">
            <b class="save-amenities">Save Amenities</b>
          </div>
          <img
            class="add-new-amenities-child24"
            alt=""
            src="../../assets/public/rectangle-67@2x.png"
          />
    
          <div class="add-new-amenities-child25"></div>
          <div class="div64">$</div>
          <div class="calendar2">
            <div class="month-year-line1">
              <img
                class="chevron-left-icon1"
                alt=""
                src="../../assets/public/chevronleft.svg"
              />
    
              <div class="month-year1">Feb</div>
              <img
                class="chevron-left-icon1"
                alt=""
                src="../../assets/public/chevronright.svg"
              />
            </div>
            <div class="calendar-item"></div>
            <div class="day-date1">
              <div class="day-line1">
                <div class="day14">
                  <div class="day15">mon</div>
                </div>
                <div class="day14">
                  <div class="day15">tue</div>
                </div>
                <div class="day14">
                  <div class="day15">wed</div>
                </div>
                <div class="day14">
                  <div class="day15">thr</div>
                </div>
                <div class="day14">
                  <div class="day15">fri</div>
                </div>
                <div class="day14">
                  <div class="day15">sat</div>
                </div>
                <div class="day14">
                  <div class="day15">sun</div>
                </div>
              </div>
              <div class="date-line1">
                <div class="date-number-line-041">
                  <div class="date43">
                    <div class="div65">30</div>
                  </div>
                  <div class="date43">
                    <div class="div65">31</div>
                  </div>
                  <div class="date43">
                    <div class="div67">1</div>
                  </div>
                  <div class="date43">
                    <div class="div67">2</div>
                  </div>
                  <div class="date43">
                    <div class="div67">3</div>
                  </div>
                  <div class="date43">
                    <div class="div67">4</div>
                  </div>
                  <div class="date43">
                    <div class="div67">5</div>
                  </div>
                </div>
                <div class="date-number-line-041">
                  <div class="date43">
                    <div class="div67">6</div>
                  </div>
                  <div class="date43">
                    <div class="div67">7</div>
                  </div>
                  <div class="date43">
                    <div class="div67">8</div>
                  </div>
                  <div class="date43">
                    <div class="div67">9</div>
                  </div>
                  <div class="date43">
                    <div class="div67">10</div>
                  </div>
                  <div class="date43">
                    <div class="div67">11</div>
                  </div>
                  <div class="date43">
                    <div class="div67">12</div>
                  </div>
                </div>
                <div class="date-number-line-041">
                  <div class="date43">
                    <div class="div67">13</div>
                  </div>
                  <div class="date43">
                    <div class="div67">14</div>
                  </div>
                  <div class="date43">
                    <div class="div67">15</div>
                  </div>
                  <div class="date43">
                    <div class="div67">16</div>
                  </div>
                  <div class="date43">
                    <div class="div67">17</div>
                  </div>
                  <div class="date43">
                    <div class="div67">18</div>
                  </div>
                  <div class="date43">
                    <div class="div67">19</div>
                  </div>
                </div>
                <div class="date-number-line-041">
                  <div class="date43">
                    <div class="div67">20</div>
                  </div>
                  <div class="date43">
                    <div class="div67">21</div>
                  </div>
                  <div class="date43">
                    <div class="div67">22</div>
                  </div>
                  <div class="date43">
                    <div class="div67">23</div>
                  </div>
                  <div class="date43">
                    <div class="div67">24</div>
                  </div>
                  <div class="date43">
                    <div class="div67">25</div>
                  </div>
                  <div class="date43">
                    <div class="div67">26</div>
                  </div>
                </div>
                <div class="date-number-line-041">
                  <div class="date43">
                    <div class="div67">27</div>
                  </div>
                  <div class="date43">
                    <div class="div67">28</div>
                  </div>
                  <div class="date73">
                    <div class="div67">1</div>
                  </div>
                  <div class="date73">
                    <div class="div67">2</div>
                  </div>
                  <div class="date75">
                    <div class="div97">3</div>
                  </div>
                  <div class="date75">
                    <div class="div97">4</div>
                  </div>
                  <div class="date73">
                    <div class="div67">5</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-1-wrapper">
            <div class="component-11">
              <div class="component-1-child"></div>
              <div class="component-1-item"></div>
            </div>
          </div>
        </div>
    
        <div id="notificationOwner" class="popup-overlay" style="display: none">
          <div class="notification-owner">
            <div class="notification">
              <div class="hours-ago">11 hours ago • Notification</div>
              <div class="bookedup-new">BookedUp - New Reservation</div>
              <img class="avatar-icon" alt="" src="../../assets/public/avatar@2x.png" />
    
              <div class="unread"></div>
            </div>
            <div class="notification1">
              <div class="john-moris">John Moris</div>
              <img class="avatar-icon1" alt="" src="../../assets/public/avatar1@2x.png" />
    
              <div class="label">
                <div class="assigned-to">Assigned to</div>
                <img class="icon" alt="" src="../../assets/public/icon.svg" />
              </div>
              <div class="hours-ago1">6 hours ago • Notification</div>
              <div class="bookedup-late">
                BookedUp - Late Check-out Request, Check Your Inbox
              </div>
              <img class="avatar-icon" alt="" src="../../assets/public/avatar@2x.png" />
    
              <div class="unread"></div>
            </div>
            <div class="notification2">
              <div class="button">
                <div class="reply">Reply</div>
              </div>
              <div class="dear-john-hi-container">
                <p class="dear-john">Dear John,</p>
                <p class="dear-john">
                  Hi, I was wondering if it's possible to arrange a late check-out
                  for a few hours? My departure has been rescheduled, and I would
                  greatly appreciate the extension.
                </p>
              </div>
              <div class="hours-ago2">6 hours ago • Message</div>
              <div class="loren-smith-sent">Loren Smith Sent You a Message</div>
              <img class="avatar-icon3" alt="" src="../../assets/public/avatar2@2x.png" />
            </div>
            <div class="button1">
              <div class="reply">Mark all as read</div>
            </div>
            <div class="button2">
              <div class="reply">Archive read</div>
            </div>
            <div class="header">
              <div class="divider"></div>
              <img class="icon1" alt="" src="../../assets/public/icon1.svg" />
    
              <img class="icon2" alt="" src="../../assets/public/icon2.svg" />
    
              <div class="inbox">
                <div class="active-indicator"></div>
                <div class="unread2">
                  <div class="div61">2</div>
                </div>
                <div class="all1">All</div>
              </div>
            </div>
          </div>
        </div>
    
        <div
          id="ownerDropdownContainer"
          class="popup-overlay"
          style="display: none"
        >
          <div class="owner-dropdown">
            <div class="user-square-2-group" id="manageProfile-create">
              <img
                class="user-square-2-icon1"
                alt=""
                src="../../assets/public/usersquare-2.svg"
              />
    
              <div class="manage-account3">Manage account</div>
            </div>
            <div class="hotel-2-parent" id="myAccommodations-create">
              <img class="frame-icon5" alt="" src="../../assets/public/frame.svg" />
    
              <div class="manage-account3">My amenities</div>
            </div>
            <div class="hotel-2-parent" id="reseervation-requests-create">
              <img class="hotel-2-icon" alt="" src="../../assets/public/hotel-2.svg" />
    
              <div class="manage-account3">Reservations</div>
            </div>
            <div class="hotel-2-parent" id="popupframeContainer3">
              <img class="frame-icon5" alt="" src="../../assets/public/frame2.svg" />
    
              <div class="manage-account3">Comments</div>
            </div>
            <div class="hotel-2-parent" id="popupframeContainer4">
              <img
                class="report-solid-24-1-1"
                alt=""
                src="../../assets/public/reportsolid24-1-1@2x.png"
              />
    
              <div class="manage-account3">Reports</div>
            </div>
            <div class="logout-1-group" id="logOut-create">
              <img class="user-square-2-icon1" alt="" src="../../assets/public/logout-1.svg" />
    
              <div class="manage-account3">Sign out</div>
            </div>
          </div>
        </div>
    
        <div
          id="amenitiesAddedSuccessful"
          class="popup-overlay"
          style="display: none"
        >
          <div class="amenities-added-successful">
            <div class="amenities-successfully-added">
              Amenities Successfully Added
            </div>
            <div class="congratulations-your-amenities">
              Congratulations your amenities has been successfully added.
            </div>
            <div class="view-your-amenities-wrapper" id="popupframeContainer">
              <b class="view-your-amenities">View Your Amenities</b>
            </div>
            <div class="amenities-added-successful-child"></div>
            <img class="image-11-icon3" alt="" src="../../assets/public/image-11@2x.png" />
          </div>
        </div>
    
        <script>          
          var popupframeContainer3 = document.getElementById("popupframeContainer3");
          if (popupframeContainer3) {
            popupframeContainer3.addEventListener("click", function (e) {
              window.location.href = "./CommentsOwner.html";
            });
          }
          
          var popupframeContainer4 = document.getElementById("popupframeContainer4");
          if (popupframeContainer4) {
            popupframeContainer4.addEventListener("click", function (e) {
              window.location.href = "./ReportsOwner.html";
            });
          }
          
          var notification1Icon = document.getElementById("notification1Icon");
          if (notification1Icon) {
            notification1Icon.addEventListener("click", function () {
              var popup = document.getElementById("notificationOwner");
              if (!popup) return;
              var popupStyle = popup.style;
              if (popupStyle) {
                popupStyle.display = "flex";
                popupStyle.zIndex = 100;
                popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
                popupStyle.alignItems = "center";
                popupStyle.justifyContent = "center";
              }
              popup.setAttribute("closable", "");
          
              var onClick =
                popup.onClick ||
                function (e) {
                  if (e.target === popup && popup.hasAttribute("closable")) {
                    popupStyle.display = "none";
                  }
                };
              popup.addEventListener("click", onClick);
            });
          }
          
          
          var frameContainer7 = document.getElementById("frameContainer7");
          if (frameContainer7) {
            frameContainer7.addEventListener("click", function () {
              var popup = document.getElementById("amenitiesAddedSuccessful");
              if (!popup) return;
              var popupStyle = popup.style;
              if (popupStyle) {
                popupStyle.display = "flex";
                popupStyle.zIndex = 100;
                popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
                popupStyle.alignItems = "center";
                popupStyle.justifyContent = "center";
              }
              popup.setAttribute("closable", "");
          
              var onClick =
                popup.onClick ||
                function (e) {
                  if (e.target === popup && popup.hasAttribute("closable")) {
                    popupStyle.display = "none";
                  }
                };
              popup.addEventListener("click", onClick);
            });
          }
          </script>
      </body>
    </html>
    