<header>
    <div class="header-container">
        <img class="logo" alt="" src="../../assets/public/cream-black-minimalist-illustrated-luxury-real-estate-circle-logo-7-3@2x.png" />
    
        <div class="home-nav">
          <div class="home-item" id="homeText">Home</div>
          <div class="home-item">About</div>
          <div class="home-item">Contact</div>
        </div>
    
        <img
          class="manage-account-admin-item"
          alt=""
          src="../../assets/public/ellipse-31@2x.png"
          id="profile-picture-guest"
        />
    </div>

    <div
        id="guestDropdownContainer"
        class="popup-overlay"
        style="display: none"
      >
        <div class="admin-dropdown">
          <div class="user-square-2-parent" id="manageAcc">
            <img
              class="user-square-2-icon"
              alt=""
              src="../../assets/public/usersquare-2.svg"
            />
            <div class="my-reservations">Manage account</div>
          </div>

          <div class="frame-parent6" id="myReservation">
            <img class="frame-icon" alt="" src="../../assets/public/hotel-21.svg" />
            <div class="my-reservations">My reservations</div>
          </div>

          <div class="frame-parent6" id="favourties">
            <img class="frame-icon" alt="" src="../../assets/public/bookmarkheart-1.svg" />
            <div class="my-reservations">Favourites</div>
          </div>

          <div class="frame-parent6" id="reviews">
            <img class="frame-icon" alt="" src="../../assets/public/frame2.svg" />
            <div class="my-reservations">Reviews</div>
          </div>

          <div class="logout-1-parent" id="signOut">
            <img class="user-square-2-icon" alt="" src="../../assets/public/logout-1.svg" />
            <div class="my-reservations">Sign out</div>
          </div>

        </div>
    </div>

</header>